
.buffalo-team-section{background-color: #f8f4f2; }
.buffalo-team-wrap{padding: 73px 0 112px; }
.buffalo-team-heading{margin-bottom: 80px; }

.buffalo-team-main{margin: 0 57px 0 0; width: 350px; }
.buffalo-team-item{padding: 15px 23px 14px;}
.no_image.buffalo-team-item{min-height: 86px;}
.no_image .buffalo-text{width: 100%;}
.buffalo-sm-image{width: 58px; margin-right: 23px; }
.buffalo-sm-image img{width: 58px; height: 58px; border-radius: 50%;}
.buffalo-text .optional-text{color: var(--copperplate-color); font-size: 18px; line-height: 1; margin-bottom: 0;}
.buffalo-team-item:hover .buffalo-text .optional-tex{background-color: var(--white); }
.buffalo-text span{font-size: 14px; color: rgba(0, 0, 0, 0.7); line-height: 1.79; }
.buffalo-text span a{color: rgba(0, 0, 0, 0.7); }
.buffalo-text{width: calc(100% - 81px); }
.buffalo-team-btn{margin-top: 40px;}
.buffalo-team-btn .button{padding: 13px 27px 13px 27px; text-transform: capitalize;}

.slick-current .buffalo-team-item{background-color: #eae0da; }
.slick-current .buffalo-text span a{color: var(--text-color); transition: none;}
.slick-current .buffalo-text span a:hover{color: var(--copperplate-color);}
.slick-current .buffalo-text span{color: var(--text-color);}

.buffalo-team-content{width: calc(100% - 407px); }
.buffalo-team-image{width: 387px; }
.buffalo-team-image img{width: 387px; height: 491px; max-height: 100%;}
.buffalo-team-text{width: calc(100% - 387px); align-items: center;}
.buffalo-team-inner{width: 100%; min-height: 395px; flex-direction: column; justify-content: center; background-color: var(--copperplate-color); padding: 61px 46px 63px 68px;}
.buffalo-team-inner img{width: 23px; height: 19px; margin-left: -28px; }
.buffalo-team-inner p{font-size: 16px; font-style: italic; line-height: 1.75; color: var(--white-90); margin-bottom: 38px;}
.buffalo-team-name{margin-bottom: 24px; }
.buffalo-team-name .optional-text{color: var(--white-90); line-height: 0.9; margin-bottom: 0; }
.buffalo-team-name .optional-text a{color: var(--white-90);}
.buffalo-team-name .optional-text a:hover{color: var(--white-50);}
.buffalo-team-name .buffalo-team-position{color: var(--white-90); font-size: 14px; line-height: 1.79; }
.buffalo-team-profiles{padding-top: 10px;}
.buffalo-team-profile{gap: 12px; align-items: baseline; color: var(--white);}
.buffalo-team-profile a{color: var(--white);}
.buffalo-team-profile a:hover{color: var(--text-color);}

.buffalo-team-main .slick-arrow{position: absolute;}
.buffalo-team .slick-arrow{top: calc(50% + 22px); left: -48px; width: 25px; height: auto; margin: 0; cursor: pointer; color: var(--copperplate-color); font-size: 2rem;}
.buffalo-team .slick-arrow.slick-prev{top: calc(50% - 22px);}
.buffalo-team .slick-arrow::before{line-height: normal;}
.buffalo-team .slick-arrow.slick-disabled{opacity: 0.25;}
.buffalo-team-list.no_image{display: block;}
.buffalo-team-list.no_image .buffalo-team-text{width: 100%;}

/*-- media css starts here --*/
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .buffalo-team-wrap{padding-left: 45px;}
    .buffalo-team-main{margin: 0 30px 0 0; width: 220px; }
    .buffalo-team-content{width: calc(100% - 250px); }
    .buffalo-team-image{width: 357px;}
    .buffalo-sm-image{display: none; }
    .buffalo-text { width: 100%; }
    .buffalo-team-text{width: calc(100% - 357px); }
    .buffalo-team-inner{padding: 40px 25px; width: 100%;}
    .buffalo-team-inner img{margin-left: -10px; }
    .buffalo-team .slick-arrow{left: -46px;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .buffalo-team-slider{display: block;}
    .buffalo-team-main{display: none; }
    .buffalo-team-content{width: 100%;}
    .buffalo-team-list{display: block; }
    .buffalo-team-image{width: 248px; margin: 0 auto; }
    .buffalo-team-inner{padding: 151px 15px 41px 25px; }
    .buffalo-team-inner img{margin: 0 0 13px 7px; }
    .buffalo-team-text{width: 100%; display: block; margin-top: -130px;}
    .buffalo-team-inner p{margin-bottom: 17px; }
    .buffalo-team-name{margin-bottom: 19px; }
    .buffalo-team-content .slick-dots{margin: 17px 0; position: relative; }
    .buffalo-view-btn{text-align: center; display: block; font-size: 16px; font-weight: 500; line-height: 0.88; margin-top: 32px; }
    .buffalo-view-btn .right-icon{margin-left: 10px; }
    .buffalo-team-image img{height: auto;}
}
