
.careers-slider-section{background-color: #f0eae7; }
.careers-slider-wrap{padding: 87px 0 86px; }
.careers-slider-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.75) 96%);}
.slick-current .careers-slider-caption{opacity: 1;}
.careers-slider-caption{position: absolute; bottom: 0; width: 100%; padding: 26px 54px 38px; opacity: 0;}
.careers-slider-caption::before{content:""; position: absolute; bottom: 0; left: 0; background-color: var(--copperplate-color); mix-blend-mode: multiply; width: 100%; height: 100%;  }

.careers-slick-slider .slick-arrow{width: 30px; height: 60px; margin: 0; position: absolute; top: 50%; transform: translateY(-50%); z-index: 1; }
.careers-slick-slider .slick-btn{font-size: 51px; line-height: normal; background: none; width: auto; height: auto;}

/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    .careers-slider-caption h4{color: var(--white); position: relative; margin-bottom: 6px;}
    .careers-slider-caption span{color: var(--white-90); position: relative; }
}
@media only screen and (min-width: 1024px){
    .careers-slick-slider .slick-slide{width: 991px; margin: 0 51px; }
    .careers-slick-slider .slick-arrow{left: 103px;}
    .careers-slick-slider .slick-arrow.slick-next { right: 103px; left: auto; }
    .careers-slick-slider ul.slick-dots{margin: 40px 0 0; left: 0; right: 0; bottom: -60px; top: auto; align-items: center; justify-content: center; display: flex; flex-wrap: wrap;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){   
    .careers-slick-slider .slick-slide{width: 791px; margin: 0 21px; }
    .careers-slick-slider .slick-arrow{left: 21px;}
    .careers-slick-slider .slick-arrow.slick-next{right: 21px; left: auto;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){    
    .careers-slick-slider .slick-slide{margin: 0 20px; }
    .careers-slider-caption{opacity: 0;}
    .slick-current .careers-slider-caption{opacity: 1;}
    .careers-slick-slider .slick-arrow{left: 21px; top: calc(50% - 30px);}
    .careers-slick-slider .slick-arrow.slick-next{right: 21px; left: auto;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .careers-slider-wrap{padding: 46px 0 40px; }
    .careers-slider-thumb{position: relative;}
    .careers-slider-caption{padding: 19px 0 10px; font-size: 14px; line-height: 25px; position: static; color: var(--text-color);}
    .careers-slider-caption::before{display: none;}
    .careers-slick-slider .slick-slide{margin: 0 5px; }

    .careers-slick-slider .slick-arrow { left: 4px; top: 100px; transform: none; }
    .careers-slick-slider .slick-arrow.slick-next{right: 4px; left: auto;}
    .careers-slick-slider .slick-btn{font-size: 26px; width: 20px; height: 26px;}

}