
.careers-cta-section{background-color: #f8f4f2; }
.careers-cta-wrap{padding: 128px 0;}
.careers-cta-main{gap: 88px;}
.careers-cta-text{flex-direction: column; justify-content: center;}
.careers-cta-text h2{margin-bottom: 23px; }
.careers-cta-text p{margin-bottom: 23px; }
.careers-cta-text .button { width: max-content; }

.careers-cta-list.reverse{flex-direction: row-reverse; }
.careers-cta-list.reverse .careers-cta-text{margin:0 0 0 102px; }
.careers-cta-list.no_image{display: block;}
.careers-cta-list.no_image .careers-cta-text{width: 100%; margin: 0; display: block;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .careers-cta-main{max-width: 1037px; margin: 0 auto; }
    .careers-cta-text{width: 325px; margin-right: 102px; }
    .careers-cta-image{width: calc(100% - 427px); }
}

@media only screen and (max-width: 1023px) and (min-width:200px){
    .careers-cta-wrap{padding: 56px 0; }
    .careers-cta-main{gap: 50px; }
    .careers-cta-list{flex-direction: column-reverse; }
    .careers-cta-image{margin-bottom: 32px; }
    .careers-cta-text h2{font-size: 30px; line-height: 1.27; margin-bottom: 16px;}
    .careers-cta-text p{margin-bottom: 19px; }

    .careers-cta-list.reverse{flex-direction: column-reverse; }
    .careers-cta-list.reverse .careers-cta-text{margin: 0; }
}
