:root {
    --black: #000000;
    --black-25: rgb(0 0 0 / 25%);
    --black-50: rgb(0 0 0 / 50%);
    --black-80: rgb(0 0 0 / 80%);
    --white: #ffffff;
    --white-18: rgb(255 255 255 / 18%);
    --white-20: rgb(255 255 255 / 20%);
    --white-22: rgb(255 255 255 / 22%);
    --white-50: rgb(255 255 255 / 50%);
    --white-60: rgb(255 255 255 / 60%);
    --white-70: rgb(255 255 255 / 70%);
    --white-90: rgb(255 255 255 / 90%);
    --copperplate-color: #a86b49;
    --text-color: #2d2d2d;
    --btn-color: #9c5f3d;
    --btn-light-color: #cdb3a5;
    --gray-color: #f8f4f2;
    --error: #f00;
}