/* Common Banner section start */
.common-banner-main{background-color: var(--copperplate-color); color: var(--white-90); z-index: 1;}
.common-banner-text h1{color: var(--white); margin-bottom: 14px;}

.common-banner-list{background-color: #f0eae7; margin: 0; padding: 22px 0 19px; }
.common-banner-item{margin: 0; gap: 26px; align-items: center;}
.common-banner-item li{width: 149px; text-align: center; font-size: 16px; line-height: 1.25; padding: 0 13px; margin: 0; position: relative;}
.common-banner-item li::before { display: none; }
.common-banner-item li > a{color: var(--black); }
.common-banner-item li > a:hover{color: var(--copperplate-color); }
/* .common-banner-item li.active{border-bottom: 1px solid var(--copperplate-color);} */
.common-banner-item li.active a { color: var(--copperplate-color); }
.common-banner-item li.active ::before{content: ""; position: absolute; width: 100%; border-bottom: 1px solid var(--copperplate-color); bottom: -19px; left: 0; }

.position-location span{line-height: 1; color: var(--white-90); padding: 0 18px; border-left: 1px solid var(--white); }
.position-location span:first-child{padding: 0 18px 0 0; border-left: none; }
.common-banner-location ul{margin: 0 0 0 12px; }
.common-banner-location ul li{margin-bottom: 0; }
.common-banner-location ul > li::before{left: -10px; background-color: #f0eae7; opacity: 0.7; }

/*-- media css starts here --*/
@media only screen and (max-width: 1420px) and (min-width: 1024px){
    .common-banner-image{flex: 50% !important;}
    .common-banner-desc {padding: 0 5% !important;}
}

@media only screen and (min-width: 1024px){
    .common-banner-text{flex: 50%;}
    .common-banner-image{flex: 0 0 710px;}
    .common-banner-desc{max-width: 692px; margin-left: auto; padding-right: 111px; z-index: 1;}
    .common-banner-desc::after {width: 171px; height: 412px; top: -90px; left: -101px; content: ""; position: absolute; background-image: url("../images/banner-symbol.svg"); background-repeat: no-repeat; background-size: cover; z-index: -1; }
    .common-banner-thumb{height: 100%;}
}
@media only screen and (min-width: 1601px){
    .common-banner-text{flex: 50%;}
    .common-banner-image{flex: 50%;} 
}

@media only screen and (max-width: 1023px) and (min-width: 375px){
    .common-banner-main{flex-direction: column-reverse; }
    .common-banner-text{padding: 48px 24px; }
    .common-banner-text h1{font-size: 30px; margin-bottom: 23px;}
    .common-banner-image{padding-top: 75px;}
    .common-banner-desc{z-index: 1; }
    .common-banner-desc::after {width: 171px; height: 412px; top: 0px; left: -101px; content: ""; position: absolute; background-image: url("../images/banner-symbol.svg"); background-repeat: no-repeat; background-size: cover; z-index: -1; }

}

