/* Common Banner section start */
.common-banner-main{background-color: var(--copperplate-color); color: var(--white-90); z-index: 1; overflow: hidden;}
.common-banner-text h1{color: var(--white); margin-bottom: 14px;}

.common-banner-list{background-color: #f0eae7; margin: 0; padding: 22px 0 19px; }
.common-banner-item{margin: 0; gap: 26px; align-items: center;}
.common-banner-item li{ text-align: center; font-size: 16px; line-height: 1.25; padding: 0 13px; margin: 0; position: relative;}
.common-banner-item li::before { display: none; }
.common-banner-item li > a{color: var(--black); }
.common-banner-item li > a:hover{color: var(--copperplate-color); }
.common-banner-item li.active a { color: var(--copperplate-color); }
.common-banner-item li.active::before{content: ""; position: absolute; width: 100%; border-bottom: 1px solid var(--copperplate-color); bottom: -19px; left: 0; }

.position-location span{line-height: 1; color: var(--white-90); padding: 0 18px; border-left: 1px solid var(--white); }
.position-location span:first-child{padding: 0 18px 0 0; border-left: none; }
.common-banner-location{border-left: solid 0.3px var(--white); padding-left: 42px; } 
.common-banner-location ul{margin: 5px 0 0 35px; }
.common-banner-location ul li{margin-bottom: 0; }
.common-banner-location ul > li::before{left: -10px; background-color: #f0eae7; opacity: 0.7; }
.common-banner-dates-item span:not(span.optional-text){font-size: 14px; line-height: 1.79; color: var(--white-90);}
.common-banner-text-right a{color: var(--white-70);}
.common-banner-text-right a:hover{color: var(--white);}
.common-banner-location span{font-size: 14px; line-height: 1.36; color: var(--white-90);}
.common-banner-text-right{width: calc(100% - 30px); }
.common-banner-dates-item span.optional-text{color: var(--white-60);}

/*-- media css starts here --*/

@media only screen and (min-width: 1024px){
    .common-banner-main.no_banner_image{padding: 80px 0; display: block;}
    .no_banner_image .common-banner-desc{max-width: 1260px; padding: 0 30px; margin-right: auto;}
    .common-banner-text{flex: 50%;}
    .common-banner-image{flex: 0 0 710px;}
    .common-banner-desc{max-width: 692px; width: 100%; margin-left: auto; padding-right: 111px; z-index: 1;}
    .common-banner-desc::after {width: 171px; height: 442px; top: 50%; left: -101px; transform: translateY(-50%); content: ""; position: absolute; background-image: url("./images/banner-symbol.svg"); background-repeat: no-repeat; background-size: cover; z-index: -1; }
    .common-banner-thumb{height: 100%;}
    .common-banner-item{justify-content: space-around;}
    .common-banner-item li{padding: 0;}
    ul.common-banner-item{justify-content: center; gap: 40px;}
    .common-banner-dates{flex-basis: 40%;}
    .common-banner-location{flex-basis: 40%;}
    body.postid-7388 .common-banner-desc .button{margin-top: 19px;}
    .people-bio-page .common-banner-dates{flex-basis: 100%;}
}
@media only screen and (min-width: 1601px){
    .common-banner-text{flex: 50%;}
    .common-banner-image{flex: 50%;} 
}
@media only screen and (max-width: 1599px) and (min-width: 1024px){
    .common-banner-image{flex: 50%;}
    .common-banner-desc {max-width: 600px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .common-banner-text{padding-left: 32px;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .common-banner-text{flex: 0 0 calc(100% - 376px); padding: 48px 24px;}
    .common-banner-image{flex: 0 0 376px;}
    .common-banner-text h1{font-size: 30px; margin-bottom: 23px;}
    .common-banner-desc{z-index: 1; }
    .common-banner-desc::after {width: 171px; height: 412px; top: 0px; left: -101px; content: ""; position: absolute; background-image: url("./images/banner-symbol.svg"); background-repeat: no-repeat; background-size: cover; z-index: -1; }
    .common-banner-dates{flex-basis: 100%; }
    .common-banner-location{flex-basis: 100%; }
    .common-banner-location{border-left: none; padding-left: 0; }
    .common-banner-location ul{margin: 0 0 0 42px; }
    .common-banner-location span{line-height: 1.79;}
    .common-banner-dates-item .common-banner-text-right, .common-banner-location .common-banner-text-right{font-size: 16px; font-weight: 500; line-height: 1.75; }
    .common-banner-item li{padding: 0 8px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .common-banner-main{flex-direction: column-reverse;}
    .common-banner-text{flex: none;}
    .common-banner-image{flex: none;}
}

