
.cta-panel-section{background-color: #f8f4f2; margin-top: -241px;}
.cta-panel-main{z-index: 1;}
.cta-panel-image{width: 100%; height: 100%;}
.cta-panel-content{width: 100%; height: 100%; padding: 16px 14px 16px 16px;}
.cta-panel-inner{padding: 97px 85px 78px; width: 100%; height: 100%; border: solid 1px rgba(248, 212, 192, 0.3);}
.cta-panel-text{color: var(--white-90);}
span.cta-optional-text{font-size: 18px; line-height: 1.5; color: var(--white-70); margin-bottom: 5px;}
.cta-panel-text h3{font-size: 30px; margin-bottom: 19px; color: var(--white);}
.cta-panel-text a:not(.button){color: var(--white);}
.cta-panel-text a:not(.button):hover{color: var(--copperplate-color);}
.cta-panel-main.no_cta_bg{background-color: var(--text-color);}

/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    .cta-panel-text{max-width: 470px;}
    .cta-panel-text .button{margin-top: 11px;}
    .no_cta_bg .cta-panel-text{max-width: 100%;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .cta-panel-inner{padding: 104px 23px 61px;}
    span.cta-optional-text{font-size: 16px; line-height: 1.13; color: var(--white-60); margin-bottom: 9px;}
    .cta-panel-text h3{line-height: 1.27; margin-bottom: 20px;}
    .cta-panel-content{padding: 6px 8px 9px;}
    .cta-panel-inner{padding: 80px 23px 68px;}
}