
.custom-cta-section{ background-color: #f8f4f2; position: relative; z-index: 1;}
.custom-cta-wrap{padding: 112px 0 112px;}
.custom-cta-main{background: var(--white);}
.custom-cta-text{padding: 116px 100px 97px;}
.full_width .custom-cta-desc{padding: 0 100px;}
.custom-cta-text .optional-text{font-size: 18px; margin-bottom: 15px; opacity: .9; line-height: 1;}
.custom-cta-text h2{font-size: 34px; line-height: 1; margin-bottom: 23px;}
.custom-cta-text .button{margin-top: 4px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
	.custom-cta-text{width: 691px;}
	.custom-cta-image{width: calc(100% - 691px);}
	.home-page .custom-cta-wrap{padding-top: 0;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
	.custom-cta-text{width: 620px; padding: 116px 75px 97px;}
	.full_width .custom-cta-desc{padding: 0 75px;}
	.custom-cta-image{width: calc(100% - 620px); }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
	.custom-cta-main{flex-direction: column-reverse; }
	.custom-cta-text{padding: 74px 50px 80px;}
	.full_width .custom-cta-desc{padding: 0 50px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
	.custom-cta-main{flex-direction: column-reverse; }
	.custom-cta-wrap{padding: 56px 0; }
	.custom-cta-image{width: 100%; }
	.custom-cta-text{padding: 25px 15px 54px 24px; width: 100%; }
	.custom-cta-text .optional-text{font-size: 16px; line-height: 1.13; margin-bottom: 9px;}
	.custom-cta-text h2{font-size: 28px; line-height: 1.36; margin-bottom: 23px; }
	.custom-cta-text p{margin-bottom: 16px; }
	.full_width .custom-cta-desc{padding: 0 40px;}
}