
.events-slider-section{background-color: #f8f4f2; }
.events-slider-wrap{padding: 131px 0 130px; }
.events-slider-heading{margin-bottom: 37px; }
.events-slider-heading h2{margin: 0; }
.events-slide-category{position: absolute; top: 22px; left: 0; gap: 10px;}
.events-slide-category .button{padding: 10px 11px 9px; font-size: 11px; line-height: 1.64; letter-spacing: 0.46px; font-weight: bold; text-transform: uppercase; min-width: auto;}
.events-slide-text{padding-top: 21px;}
.events-slide-text h4{font-family: 'Playfair Display', serif; font-size: 22px; line-height: 1.36;}
.events-slide-text h4 a{color: var(--text-color);}
.events-slide-text h4 a:hover{color: var(--copperplate-color);}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .events-slider-heading{width: calc(100% - 500px); min-height: 66px;}
    .events-slider-heading .optional-text{margin-bottom: 7px;}
    .events-slider-btn{position: absolute; top: 25px; right: 0; }
    .events-slider-row{gap: 22px; grid-template-columns: repeat(3, 1fr);}
    .news-event-slider.slick-slider{display: block; width: 100vw;}
    .news-event-slider .events-slide-list{margin-right: 21px; width: 386px;}
    .news-event-slider ul.slick-dots{right: 0; left: 0; top: -74px; width: 100vw; max-width: 1040px; align-items: flex-end; justify-content: flex-end; padding: 0 37px 0 540px;} 
    .events-slide-text h4{max-width: 300px; margin: 0; }
    .events-slide-image img{max-height: 274px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .news-event-slider ul.slick-dots{right: 215px; left: auto; top: -74px; width: auto; max-width: 100%; padding: 0 37px 0 510px;}
}
@media only screen and (max-width: 1023px) and (min-width:768px){
    .events-slide-list{max-width: 344px; margin-right: 20px;}
    .events-slider-btn{text-align: center; margin-top: 40px;}
    .events-slider-row ul.slick-dots{text-align: center; margin-left: 0;}
    .events-slider-wrap{padding: 60px 0; }
    .events-slide-image img{max-height: 244px;}
}
@media only screen and (max-width: 767px) and (min-width:200px){
    .events-slider-wrap{padding: 58px 0 61px;}
    .events-slide-list{margin: 0 0 4px;}
    .events-slider-inner{text-align: center;}
    .events-slider-heading{margin-bottom: 31px;}
    .events-slider-heading h2{font-size: 28px; text-align: center;}
    .events-slide-text{text-align: center;}
    .events-slider-btn{text-align: center;}
    .events-slider-row ul.slick-dots{bottom: 0; position: relative;}
    .events-view-btn{text-align: center; display: block; font-size: 16px; font-weight: 500; line-height: 0.88; margin-top: 30px;}
    .events-view-btn .right-icon{margin-left: 10px;}
    .events-slide-link{margin-top: 30px;}
    .events-slide-image img{max-height: 232px;}
}
