
.events-slider-section{background-color: #f8f4f2; }
.events-slider-wrap{padding: 148px 0 308px; }
.events-slider-heading{margin-bottom: 37px; }
.events-slider-title h2{margin: 0; }
.events-slider-btn .button{min-width: 165px}
.events-slide-category{position: absolute; top: 22px; left: 0; gap: 10px;}
.events-slide-category .button{padding: 10px 11px 9px; font-size: 11px; line-height: 1.64; letter-spacing: 0.46px; font-weight: bold; text-transform: uppercase; }
.events-slide-text{padding-top: 21px;}
.events-slide-text h4{font-family: 'Playfair Display', serif; font-size: 22px; line-height: 1.36;}
.events-slide-text h4 a{color: var(--text-color);}
.events-slide-text h4 a:hover{color: var(--copperplate-color);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .events-slider-title{flex-basis: 50%; }
    .events-slider-btn{flex-basis: 50%; justify-content: flex-end; align-items: end; }
    .events-slider-row{gap: 22px; grid-template-columns: repeat(3, 1fr);}
    .news-event-slider.slick-slider{display: block; width: 100vw;}
    .news-event-slider .events-slide-list{margin-right: 21px; width: 386px;}
    ul.news-slick-dots{right: 0; top: -74px; width: 100vw; max-width: 1040px; align-items: flex-end; justify-content: flex-end; } 
    .events-slide-text h4{max-width: 300px; margin: 0; }
}