
.faq-section{background-color: #f8f4f2; }
.faq-wrap { padding: 181px 0 110px; }
.faq-main{z-index: 1;}
.faq-content{background-image: url("images/faq-bg@2x.jpg"); background-size: cover; padding: 116px 204px 92px 326px; color: var(--white-90); z-index: -1;}
.faq-title{margin-bottom: 38px; padding: 0 27px;}
.faq-title h2{color: var(--white); margin-bottom: 20px;}
.accordion{margin-bottom: 13px;}
.accordion-header{padding: 26px 27px 23px; background-color: transparent; cursor: pointer; font-family: Lora, serif; font-size: 20px; line-height: 1.5; color: var(--white); transition: all 0.5s ease-in-out;}
.accordion-header:after{width: calc(100% - 27px); height: 1px; left: 27px; bottom: 0; opacity: 0.5; background-color: var(--white); content: ""; display: block; position: absolute; transition: all 0.3s ease-in-out;}
.accordion-active:after{opacity: 0;}
.accordion-header span.icon{right: 10px; position: absolute; }
.accordion-active span:before{content: "\f068";}
.accordion-active{background-color: var(--copperplate-color);}
.accordion-content{display: none; padding: 0 27px 40px;} 
.accordion-content.open{background-color: var(--copperplate-color); color: var(--white);}
.faq-btn{text-align: right; margin-top: 48px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1600px){
    .faq-main{flex-wrap: nowrap; align-items: flex-start; max-width: 1600px; margin: 0 auto;}
    .faq-image{width: 688px; flex: 0 0 688px; transform: translateY(-124px); }
    .faq-content{width: 1161px; flex: 0 0 1161px; transform: translateX(-200px); }
}
@media only screen and (max-width: 1599px) and (min-width: 1300px){
    .faq-main{flex-wrap: nowrap; align-items: flex-start; }
    .faq-image{width: 35%; transform: translateY(-124px); }
    .faq-content{width: calc(65% + 200px); margin-left: -200px; padding: 116px 204px 92px 250px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .faq-main{flex-direction: column; }
    .faq-image{width: 100%; flex: 0 0 100%; transform: none; padding: 0 32px;}
    .faq-content{width: calc(100% + 64px); flex: 0 0 100%; transform: translateX(-32px); padding: 116px 64px 92px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .faq-wrap{padding: 60px 0; }
    .faq-thumb img{height: 550px;}

}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .faq-image{padding: 0 24px; margin: 0 auto;}
    .faq-content{padding: 116px 24px 45px; margin-top: -86px;}
    .faq-title { margin-bottom: 38px; padding: 0; }
    .faq-btn { text-align: center; margin-top: 40px; }
}
