
.main-header{width: 100%; top: 0; left: 0; position: fixed; background-color: var(--white); z-index: 1200; transition: background-color 0.3s ease;}
.logo a{width: 100%; height: auto; display: block;}
.logo img{width: 100%;}
.reverse_logo{display: none;}

/*-- Reverse Header --*/
.sticky_header{background-color: transparent;}
.sticky_header .normal_logo{display: none;}
.sticky_header .reverse_logo{display: block;}
.sticky_header:not(.fixed_header) .header_srch input::-webkit-input-placeholder {color: var(--white-70);}
.sticky_header:not(.fixed_header) .header_srch input:-moz-placeholder {color: var(--white-70); }
.sticky_header:not(.fixed_header) .header_srch input::-moz-placeholder {color: var(--white-70);}
.sticky_header:not(.fixed_header) .header_srch input:-ms-input-placeholder {color: var(--white-70);}
.fixed_header{background-color: var(--white);}
.fixed_header .normal_logo{display: block;}
.fixed_header .reverse_logo{display: none;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .header{gap: 32px;}
    .logo{order: 1;}
    .toggle_icon{display: none;}
    .navigation{flex: 1; order: 2; padding-right: 68px; }
    ul.main_menu{margin: 0; flex: 1; justify-content: flex-end;}
    ul.main_menu li::before{display: none;}
    ul.main_menu > li{margin-left: 0; display: inline-block; margin-bottom: 0;}
    ul.main_menu > li > a{padding: 32px 26px 31px; color: var(--text-color); font-size: 1rem; line-height: 1.5; font-weight: normal; letter-spacing: normal; display: inline-block; position: relative;}
    ul.main_menu > li.current-menu-parent > a, ul.main_menu > li.current-menu-item > a, ul.main_menu > li.current-page-ancestor > a{color: var(--copperplate-color);}
    ul.main_menu > li:hover > a, ul.main_menu > li > a:hover{color: var(--white); background-color: var(--copperplate-color);}
    ul.main_menu > li.menu-item-has-children > a::after{width: 100%; height: 6px; opacity: 0; top: 100%; right: 0; position: absolute; content: ""; background-color: var(--copperplate-color); transition: opacity 0.3s ease-in-out; }
    ul.main_menu > li.menu-item-has-children:hover > a::after{opacity: 1;}
    /* ul.main_menu > li:hover > ul{display: block;} */
    ul.main_menu > li:hover > ul { display: flex; }
    ul.main_menu > li > ul{margin: 0; min-width: 333px; position: absolute; background-color: var(--gray-color); display: none;}
    ul.main_menu > li > ul > li{margin-bottom: 0;}
    ul.main_menu > li > ul > li > a{padding: 10px 33px 5px; font-size: 1rem; line-height: 1.5; font-weight: 500; color: var(--text-color); display: block;}
    ul.main_menu > li > ul > li.menu-item-has-children > a{color: var(--btn-color);}
    ul.main_menu > li > ul > li.menu-item-has-children > a::after{right: 19px; font-size: 14px; content: "\2b"; font-weight: 900; font-family: "Font Awesome 6 Pro"; position: absolute;}
    ul.main_menu > li > ul > li:hover > ul{display: block;}
    ul.main_menu > li > ul > li > ul{margin: 0; background-color: #f4ece7; display: none;}
    ul.main_menu > li > ul > li > ul > li{margin-bottom: 0;}
    ul.main_menu > li > ul > li > ul > li > a{padding: 0; opacity: 0.7;font-size: 15px; line-height: 2.33; font-weight: 500; color: var(--text-color); display: block;}
    ul.main_menu > li > ul > li > ul > li > a:hover{color: var(--copperplate-color);}
    .sticky_header:not(.fixed_header) ul.main_menu > li > a{color: var(--white-70);}

    /* expertise-menu-item */
    ul.main_menu > li.expertise-nav-item{position: static;}
    ul.main_menu > li.expertise-nav-item > ul{display: flex; width: 100vw; left: 0; padding-left: 246px; background-color: var(--gray-color); box-shadow: 0 0px 3px var(--text-color);} 
    ul.main_menu > li.expertise-nav-item > ul > li{flex: 1; padding: 33px 0 0;} 
    ul.main_menu > li.expertise-nav-item > ul > li:last-child{flex: 0 0 533px; padding: 0;}
    ul.main_menu > li.expertise-nav-item > ul > li > a{padding: 0 0 13px; font-size: 24px; line-height: 1.3; font-family: 'Lora', serif; position: relative;}
    ul.main_menu > li.expertise-nav-item > ul > li > a::after{width: 36px; height: 2px; bottom: 0; left: 0; background-color: var(--btn-color); content: ""; display: block; position: absolute;}
    ul.main_menu > li.expertise-nav-item > ul > li > ul{margin: 19px 0 0; display: block; background-color: transparent;}
    ul.main_menu > li.expertise-nav-item > ul > li > ul > li > a{opacity: 1;}
    ul.main_menu > li.expertise-nav-item > ul > li > ul > li > a::after{content: "";}
    ul.main_menu > li.expertise-nav-item > ul > li > ul > li > ul{display: block; margin: 0; left: 100%; position: absolute;}

    .nav-thumb-main{width: 100%; height: 100%;}
    .nav-thumb-text{position: absolute; bottom: 0; font-size: 16px; color: var(--white); line-height: 1.75; padding: 47px 67px 47px 47px;}
    .nav-thumb-text span{font-family: 'Lora', serif; font-size: 32px; line-height: 1.31; color: var(--white); margin-bottom: 12px; display: block;}
    .nav-thumb-text p{margin-bottom: 19px; }

    .header_srch{position: relative; width: 227px; order: 3;}
    .header_srch input:not(input[type="submit"]){padding: 11px 50px 11px 22px; font-size: 14px; line-height: 1.5; border-radius: 22px; background-color: rgb(151 151 151 / 30%); color: var(--text-color);}
    .sticky_header .header_srch input:not(input[type="submit"]){color: var(--white);}
    .header_srch_btn{right: 15px; top: 9px; width: 22px; height: 22px; font-size: 17px; position: absolute; color: var(--text-color);}
    .header_srch_btn input{ padding: 0; width: 100%; height: 100%; opacity: 0; background: none; font-size: 0; line-height: 0; position: absolute; z-index: 1;}
    .sticky_header:not(.fixed_header) .header_srch_btn{color: var(--white);}

    .site-main-cover{padding-top: 86px;}
    .site-main-cover.no_space{padding-top: 0;}
} 
@media only screen and (max-width: 1599px) and (min-width: 1024px){
    .navigation{gap: 0; position: relative;}
    ul.hide-menu{opacity: 0}
    ul.main_menu{padding-right: 62px;}
    ul.main_menu > li{margin-left: 30px;}
    .header_srch{width: 24px; right: 0; position: absolute; transition: width 0.5s linear;}
    .header_srch.open{width: 227px;}
    .header_srch input:not(input[type="submit"]){opacity: 0;}
    .header_srch.open input:not(input[type="submit"]){opacity: 1;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .header{padding: 14px 23px 14px; position: relative;}
    .logo{width: 170px; margin-left: 56px;}

    .toggle_icon{width: 24px; height: 28px; left: 0; top: 23px; font-size: 28px; line-height: normal; color: var(--f2t-text-50); cursor: pointer; position: absolute; border-radius: 0; z-index: 1; transition: color 0.3s ease-in-out;}
    .toggle_icon:hover{color: var(--f2t-yellow-50);}
    .toggle_icon span.fa-xmark{display: none;}
    .toggle_icon.active{font-size: 28px; }
    .toggle_icon.active, .toggle_icon.active:hover{border-radius: 0; background-color: var(--f2t-text-25); color: var(--f2t-yellow-50);}
    .toggle_icon.active span.fa-xmark{display: block;}
    .toggle_icon.active span.fa-bars{display: none;}

    .navigation{left: -100%; top: 0; width: 100%; height: 100%; margin-top: 65px; max-width: 408px; border-top: 1px solid red; background-color: var(--white); display: block; position: fixed; z-index: 800; overflow-y: scroll; -webkit-overflow-scrolling: touch; transition: all 0.3s ease-in-out;}
    .navigation.open{left: 0;}
    ul.main_menu{display: block; margin: 0;}
    ul.main_menu li:before{display: none;}
    ul.main_menu > li{margin: 0; border-bottom: 1px solid var(--text-color);}
    ul.main_menu > li > a{padding: 10px; color: var(--text-color);}
    ul.main_menu > li > a:hover{color: var(--copperplate-color);}


    .header_srch{position: relative; width: 0; margin-left: auto;}
    .header_srch input:not(input[type="submit"]){padding: 11px 50px 11px 22px; opacity: 0; font-size: 14px; line-height: 1.5; border-radius: 22px; background-color: rgb(151 151 151 / 30%); color: var(--text-color);}
    .header_srch.open input:not(input[type="submit"]){opacity: 1;}
    .sticky_header .header_srch input:not(input[type="submit"]){color: var(--white);}
    .header_srch_btn{right: 15px; top: 9px; width: 22px; height: 22px; font-size: 17px; position: absolute; color: var(--text-color);}
    .header_srch_btn input{ padding: 0; width: 100%; height: 100%; opacity: 0; background: none; font-size: 0; line-height: 0; position: absolute; z-index: 1;}
    .sticky_header:not(.fixed_header) .header_srch_btn{color: var(--white);}

    .site-main-cover{padding-top: 65px;}
    .site-main-cover.no_space{padding-top: 0;}
}   