.micro-cta-section{background-color: #F8F4F2; }
.micro-cta-main{z-index: 1; isolation: isolate; }
.micro-cta-wrap{padding: 109px 0 111px; }
.micro-cta-image{z-index: -1;}
.micro-cta-text{top: 0; background: rgba(255, 255, 255, 0.1); display: block; backdrop-filter: blur(20px); z-index: 1;}
span.micro-cta-optional{line-height: 0.9; color: var(--white-70); }
.micro-cta-text h3{margin-bottom: 25px; line-height: 1.25; color: var(--white); }
/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .micro-cta-text{padding: 72px 91px 61px 92px; max-width: 611px; position: absolute; height: 100%;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .micro-cta-text{padding: 31px 35px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .micro-cta-image{width: 100%; height: 100%; position: absolute; z-index: -1;}
    .micro-cta-text{padding: 72px 32px 61px; max-width: 50%;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .micro-cta-text{padding: 30px 32px 30px 31px; top: auto; bottom: 0; width: 100%; height: auto; position: absolute;}
    span.micro-cta-optional{font-size: 16px; line-height: 1.13; color: var(--white-60); margin-bottom: 4px;}
    .micro-cta-text h3{font-size: 26px; line-height: 1.15; margin-bottom: 22px;}
}