
.micro-cta-section{background-color: #f8f4f2; }
.micro-cta-wrap{padding: 109px 0 111px; }
.micrco-cta-content{ padding: 72px 91px 61px 92px; width: 611px; }
.micrco-cta-content .optional-text{line-height: 0.9; color: var(--white-70); }
.micrco-cta-content h3{line-height: 1.25; color: var(--white); }
.micro-cta-main{z-index: 1; isolation: isolate; }
.micro-cta-image{position: absolute; width: 100%; height: 100%; z-index: -1; }
.micro-cta-thumb{display: block; background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; }
.micro-cta-thumb::before{background: rgba(255, 255, 255, 0.1); width: 50%; content: ""; display: block; position: absolute; height: 100%; backdrop-filter: blur(20px); }

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .micro-cta-thumb img{width: 100%; }

}
