
.our-office-section{background-color: var(--copperplate-color);}
.our-office-wrap{padding: 81px 0 91px;}
.our-office-title{margin-bottom: 50px; color: var(--white-90);}
.our-office-title h2{font-size: 30px; line-height: 1.13; color: var(--white); margin-bottom: 21px;}
.our-office-image{height: 100%;}
.our-office-image::before{content: ""; position: absolute; width: 100%; height: 100%; background-color: #9c5f3d; mix-blend-mode: multiply; z-index: 1; transition: all .3s ease-in-out;}
.our-office-image img{filter: saturate(0); transition: all .3s ease-in-out;}
.our-office-name{position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%); z-index: 1; text-align: center;}
.our-office-name h4{color: var(--white); line-height: 1.25; margin: 0; }
.our-office-arrow{color: var(--white); font-size: 24px; margin-top: 12px; line-height: .7; display: none;}

.our-office-list:hover .our-office-image img{filter: saturate(1); }
.our-office-list:hover .our-office-image::before{background-color:rgba(0, 0, 0, 0.52);}
.our-office-list:hover .our-office-arrow{display: block;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
	.our-office-title{max-width: 588px; }
    .our-office-row{gap: 19px; grid-template-columns: repeat(4, 1fr);}
    .our-office-row.slick-slider{display: block; width: 100vw;}
    .slick-slider .our-office-list{margin-right: 19px; width: 286px;}
    .our-office-row.slick-slider ul.slick-dots{right: 0; top: -74px; width: 100vw; max-width: 1200px; align-items: flex-end; justify-content: flex-end; } 
}
