
.our-office-section{background-color: var(--copperplate-color);}
.our-office-wrap{padding: 81px 0 91px;}
.our-office-title{margin-bottom: 50px; color: var(--white-90);}
.our-office-title h2{font-size: 30px; line-height: 1.13; color: var(--white); margin-bottom: 21px;}
.our-office-image{height: 100%;}
.our-office-image::before{content: ""; position: absolute; width: 100%; height: 100%; background-color: #9c5f3d; mix-blend-mode: multiply; z-index: 1; transition: all .3s ease-in-out;}
.our-office-image img{filter: saturate(0); transition: all .3s ease-in-out; height: 169px; object-position: 0 0;}
.our-office-pos{width: 100%; height: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%); z-index: 1; text-align: center;}
.our-office-pos a{width: 100%; height: 100%; align-items: center; display: flex; flex-wrap: wrap; flex-direction: column;}
.our-office-text{height: 100%; flex-direction: column;}
.our-office-text h4{color: var(--white); line-height: 1.25; margin: 0; }
.our-office-arrow{color: var(--white); font-size: 24px; margin-top: 12px; line-height: .7; display: none;}


.our-office-slider ul.slick-dots li button::before { background-color: var(--btn-light-color);}
.our-office-slider ul.slick-dots li.slick-active button::before {background: var(--white); }
.our-office-slider ul.slick-dots li.slick-active button::after {border: 1px solid var(--btn-light-color);}

     

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
	.our-office-title{max-width: 588px; }
    .our-office-row{gap: 19px; grid-template-columns: repeat(4, 1fr);}
    .our-office-slider.slick-slider{display: block; width: 100vw;}
    .our-office-slider .our-office-list{margin-right: 19px; width: 286px;}
    .our-office-slider ul.slick-dots{right: 0; left: 0; padding: 0; top: -74px; width: 100vw; max-width: 1200px; align-items: flex-end; justify-content: flex-end;} 
     
    .our-office-list:hover .our-office-image img{filter: saturate(1); }
    .our-office-list:hover .our-office-image::before{background-color:rgba(0, 0, 0, 0.52);}
    .our-office-list:hover .our-office-arrow{display: block;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .our-office-wrap{padding: 45px 0 41px;}
    .our-office-title{margin-bottom: 28px;}
    .our-office-slider.slick-slider{width: calc(100% + 24px);}
    .our-office-slider .our-office-list{margin-right: 19px; width: 286px;}
    .slick-current .our-office-image img{filter: saturate(1); }

    .slick-current .our-office-image img{filter: saturate(1); }
    .slick-current .our-office-image::before{background-color:rgba(0, 0, 0, 0.52);}
    .slick-current .our-office-arrow{display: none;}


}
@media only screen and (max-width: 767px) and (min-width:200px){
    .our-office-wrap{padding: 45px 0 41px;}
    .our-office-title{margin-bottom: 28px;}
    .our-office-title h2{margin-bottom: 15px;}
    .our-office-slider.slick-slider{width: calc(100% + 24px);}
    .our-office-slider .our-office-list{margin-right: 19px; width: 286px;}
    .slick-current .our-office-image img{filter: saturate(1); }

    .slick-current .our-office-image img{filter: saturate(1); }
    .slick-current .our-office-image::before{background-color:rgba(0, 0, 0, 0.52);}
    .slick-current .our-office-arrow{display: none;}

    .our-office-slider ul.slick-dots li button::before{width: 7px; height: 7px;}
    ul.slick-dots li button{width: 22px; height: 22px;}
    .our-office-slider ul.slick-dots li.slick-active button::before { width: 7px; height: 7px; }
    .our-office-slider ul.slick-dots li.slick-active button::after { width: 19px; height: 19px; }
}