
.perks-section{background-color: #f8f4f2;}
.perks-wrap{padding: 69px 0 0;}
.perks-main{gap: 20px; }
.perks-title{margin-bottom: 78px;}
.perks-icon{width: 50px; height: 50px; align-items: end; margin: 0 auto 19px; }
.perks-icon img{max-width: 50px; }
.perks-list h4{margin-bottom: 14px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .perks-list{flex-basis: 23%; }
}
@media only screen and (max-width: 1023px) and (min-width:768px){
    .perks-list{flex: 0 0 47%; }
}
@media only screen and (max-width: 767px) and (min-width:200px){
    .perks-wrap{padding: 55px 0; }
    .perks-main{gap: 24px; }
    .perks-title{margin-bottom: 30px; }
    .perks-title h2{font-size: 28px; line-height: 1.36; }
    .perks-icon{margin: 0 auto 15px; }
    .perks-list h4{margin-bottom: 9px; line-height: 1.25; }
}