
.product-liability-section{background-color: #f8f4f2;}
.product-liability-wrap{padding: 109px 0; }
.product-liability-main{background: var(--white); padding: 70px 82px 55px 81px; }
.product-liability-main h4{margin-bottom: 23px; }
.product-liability-main span{font-weight: bold;}
.product-liability-text ul{margin: 35px 0 35px 37px;}

.product-liability-matters{gap: 36px; }
.product-liability-text{width: 425px; }

.fullwidth-horizontal{flex-direction: column; }
.fullwidth-horizontal .product-liability-text{width: 100%; background-color: #f9f8f8;}
.fullwidth-horizontal .product-liability-text ul li{font-size: 16px;}
.product-liability-main span:nth-child(2n){margin-bottom: 11px; display: block; }