
.product-liability-section{background-color: #f8f4f2;}
.product-liability-wrap{padding: 109px 0; }
.product-liability-main{background: var(--white); padding: 70px 82px 55px 81px; }
.product-liability-main h4{margin-bottom: 23px; }
.product-liability-main span{font-weight: bold;}

.product-liability-matters{gap: 36px; }
.product-liability-text{width: 425px; }

.fullwidth-horizontal{flex-direction: column; }
.fullwidth-horizontal .product-liability-text{width: 100%; background-color: #f9f8f8;}
.product-liability-main span:nth-child(2n){margin-bottom: 11px; display: block; }

/*-- media css starts heer --*/
@media only screen and (min-width: 1024px){
    .product-liability-text ul{margin-bottom: 37px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .fullwidth-horizontal .product-liability-text{background-color: transparent;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .fullwidth-horizontal .product-liability-text{background-color: transparent;}
}
