*, *:focus {outline: none;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
audio, canvas, video {display: inline-block; max-width: 100%;}
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; height: 100%; box-sizing: border-box; scroll-behavior: smooth;}
body{font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 28px; color: var(--text-color); width: 100%; overflow-x: hidden; overflow-y: scroll; position: relative; scroll-behavior: smooth;}
a {color: var(--copperplate-color); text-decoration: none; transition-duration: .3s; transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter; transition-timing-function: cubic-bezier(.4,0,.2,1); }
a:focus {outline: none;}
a:hover, a:active {outline: 0;}
a:hover{color: var(--text-color);}
h1, h2, h3, h4, h5, h6 {clear: both; margin: 0 0 14px; color: var(--black); letter-spacing: normal; font-weight: normal; font-family: 'Lora', serif;}
h1 {font-size: 50px; line-height: 57px; margin-bottom: 23px;}
h2 {font-size: 40px; line-height: 1.25; margin-bottom: 15px;}
h3 {font-size: 1.5rem; line-height: 1.75rem; margin-bottom: 15px;}
h4 {font-size: 1.25rem; line-height: 1.5; margin-bottom: 16px;}
h5 {font-size: 1.125rem; line-height: 1.375rem;}
h6 {font-size: 1rem; line-height: 1.5;}
address { margin-bottom: 9px;}
abbr[title] {border-bottom: 1px dotted #2b2b2b; cursor: help;}
b, strong {font-weight: 700;}
cite, dfn, em, i {font-style: italic;}
mark, ins {background: #fff9c0; text-decoration: none;}
p {margin-bottom: 24px;}
p:last-child{margin-bottom: 0;}
code, kbd, tt, var, samp, pre {font-size: 0.938rem; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; line-height: 1.6;}
pre {border: 1px solid rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 24px; max-width: 100%; overflow: auto; padding: 12px; white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
blockquote, q {-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none;}
blockquote {color: var(--slate-color); font-weight: 700; font-size: 2rem; line-height: 2.5rem; font-style: normal; padding: 0 104px; position: relative; letter-spacing: 0; border-radius: 0; background: transparent; margin: 23px 0 56px;}
blockquote p::before, blockquote p::after{top: 50%; transform: translateY(-50%); font-size: 4rem; line-height: normal; color: var(--white); font-family: "Font Awesome 6 Sharp"; font-weight: 900; position: absolute;}
blockquote p::before{content: "\f10d"; left: 0;}
blockquote p::after{content: "\f10e"; right: 0;}
blockquote cite, blockquote small {color: rgba(31, 56, 74, 0.6); font-size: 1rem;}
blockquote em, blockquote i, blockquote cite {font-style: normal;}
small {font-size: smaller;}
big {font-size: 125%;}
sup, sub {font-size: 0.625rem; letter-spacing: -0.18px; height: 0; line-height: 0; position: relative; vertical-align: baseline;}
sup {bottom: 1ex;}
sub {top: 0;}
dl {margin-bottom: 24px;}
dd {margin-bottom: 24px;}
ul {list-style: none; margin: 24px 0 26px 22px; font-size: 0.875rem; line-height: 1.375rem; font-weight: 400;}
ul > li {counter-increment: li; position: relative; margin-bottom: 8px;}
ul > li:before {content: "\f00c"; position: absolute; top: 1px; left: -22px; background-image: linear-gradient(to bottom, #ffb405 0%, #ff666b 100%); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; font-weight: 900; font-family: "Font Awesome 6 Sharp";}
li > ul {margin: 25px 0 26px 25px;}
ol {counter-reset: section; list-style: none; margin: 29px 0 26px 27px; font-size: 0.875rem; line-height: 1.375rem; font-weight: 400;}
ol > li {counter-increment: li; position: relative; margin-bottom: 10px;}
ol > li:before{top: 4px; left: -26px; width: 14px; height: 15px; font-weight: 900; position: absolute; counter-increment: section; content: counter(section, decimal) ""; font-size: 0.563rem; align-items: center; display: flex; justify-content: center; background: linear-gradient(180deg, #FFB405 0%, #FF666B 100%); color: var(--white); font-family: "Font Awesome 6 Sharp"; }
li > ol {margin: 25px 0 26px 25px;}

figure{margin: 0;}
fieldset {border: 1px solid rgba(0, 0, 0, 0.1); margin: 0 0 24px; padding: 11px 12px 0;}
legend {white-space: normal;}
button, input, select, textarea {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 100%; margin: 0; max-width: 100%; vertical-align: baseline; appearance: none;}
button, input {line-height: normal;}
input, textarea {background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));}

/* Removing the inner shadow, rounded corners on iOS inputs */
button, input[type="button"], input[type="reset"], input[type="submit"] {appearance: button; cursor: pointer;}
button[disabled], input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;}
input[type="search"] {appearance: textfield;}
input[type="search"]::-webkit-search-decoration {appearance: none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
textarea {overflow: auto; vertical-align: top;}

/* Genericons */
.clearfix {clear: both;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

table, th, td {border: 1px solid rgba(0, 0, 0, 0.1);}
table {border-collapse: separate; border-spacing: 0; border-width: 0; margin: 0; max-width: 100%; width: 100%;}
table tr td:first-child {padding-left: 15px; text-align: left; font-weight: 600;}
table tr th:first-child {text-align: left; padding-left: 21px;}
table tbody img {margin: 0 auto;}
th {border-width: 0; font-size: 0.688rem; font-weight: bold; line-height: normal; letter-spacing: 0.4px; padding: 14px 0 17px; background-color: var(--gray-color); color: var(--white); text-transform: uppercase;}
th span.icon{font-size: 0.875rem; margin-left: 4px; top: 0px; position: relative; }
td {border-width: 0; padding: 13px 0 11px; text-align: center; border-bottom: solid 1px rgb(255 255 255 / 10%); vertical-align: middle;}
table tr:nth-child(even) td{background-color: var(--light-gray);}

caption, th, td {text-align: left;}
del {color: var(--text-color);}
hr{display: block; background-image: linear-gradient(90deg, #FFB405 -0.34%, #FF666B 108.2%); border: 0; width:100%; height: 2px; margin: 0 0 49px;}

/* Support a widely-adopted but non-standard selector for text selection styles * to achieve a better experience. See http://core.trac.wordpress.org/ticket/25898. */ 
::selection {background-color: var(--text-color); color: var(--white);}
::-moz-selection {background-color: var(--text-color); color: var(--white);}

/* Input fields */
input[type="search"], input, select, textarea {outline: 0; width: 100%; font-size: 14px; line-height: 25px; letter-spacing: normal; background: var(--tin-color); box-shadow: none; padding: 9px 20px 9px; vertical-align: middle; font-family: 'Decimal', sans-serif; font-weight: normal; height: auto; transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out; border: none; border-radius: 20px;}
textarea {width: 100%; resize: none; height: 118px;}
input:focus, textarea:focus{outline: 0;}
input[type="button"], input[type="reset"], input[type="submit"] {display: inline-block; font-size: 0.875rem; line-height: normal; padding: 17px 35px 16px 36px; vertical-align: middle; cursor: pointer; border: none; border-radius: 0; background-color: var(--red-color); font-weight: bold; letter-spacing: normal; position: relative; transition: all 0.3s linear; text-transform: uppercase; text-align: center; color: var(--white); font-family: 'Roboto', sans-serif; }
input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {background-color: var(--black); color: var(--white);}
input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {outline: none;}
.search-field {width: 100%;}
.search-submit {display: none;}

/* Buttons */
button, .button{padding: 13px 42px 13px;  display: inline-block; font-size: 1rem; line-height: 1.5; font-weight: 500; font-family: 'Roboto', sans-serif; letter-spacing: normal; vertical-align: middle; cursor: pointer; border: none; background-color: var(--copperplate-color); border-radius: 0; position: relative; transition: all 0.3s ease-in-out; text-align: center; color: var(--white-90); }
button:hover, .button:hover{ background-color:var(--text-color); color: var(--white);}
.btn-transparent{background-color: transparent; border: 1px solid var(--border-color);}
.btn-transparent:hover{background-color: var(--text-color); border-color: var(--text-color);}

/* Placeholder text color -- selectors need to be separate to work. */ 
::-webkit-input-placeholder {color: var(--text-color); font-family: 'Roboto', sans-serif;}
:-moz-placeholder {color: var(--text-color); font-family: 'Roboto', sans-serif; opacity: 1; }
::-moz-placeholder {color: var(--text-color); font-family: 'Roboto', sans-serif; opacity: 1;}
:-ms-input-placeholder {color: var(--text-color); font-family: 'Roboto', sans-serif; opacity: 1;}

/* Responsive images. Fluid images for posts, comments, and widgets */
embed, iframe, object, video {margin-bottom: 7px; max-width: 100%; border-radius: 0;}
p > embed, p > iframe, p > object, span > embed, span > iframe, span > object {margin-bottom: 0;}
.alignleft {float: left;}
.alignright {float: right;}
.aligncenter {display: block; margin-left: auto; margin-right: auto; text-align: center;}
img.alignnone{margin: 6px 0 25px;}
blockquote.alignleft, img.alignleft {margin: 6px 25px 25px 0;}
.hide {display: none;}

/*-- flex css starts here --*/
.flex{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; width: 100%; }
.flex-vcenter{-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.flex-content-center{-ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center; }
.flex-center{-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center; }
.flex-nowrap{flex-wrap: nowrap; }
.table{ display: table; width: 100%; height: 100%;}
.table-cell{display: table-cell; vertical-align: middle;}
.grid{display: grid; display: -moz-grid; display: -ms-grid;}
.f-500{font-weight: 500;}
.f-700{font-weight: 700;}

span.optional-text{font-size: 20px; line-height: 24px; font-weight: 500; margin-bottom: 15px; color: var(--f2t-text-50); display: block; text-transform: uppercase; font-family: 'Copperplate-Regular', sans-serif;}
span.optional-text.white{color: var(--white);}
span.optional-text.yellow{color: var(--f2t-yellow-50);}

.background-bg{width: 100%; height: 100%; top: 0; left: 0; position: absolute; z-index: -1;}
.background-text{width: 100%; height: 100%; top: 0; left: 0; right: 0; position: absolute; z-index: 1;}
.pos-relative{position: relative;}
figure.object-fit{width: 100%; height: 100%; display: block;}
picture.object-fit{width: 100%; height: 100%; display: block;}
.object-fit img{width: 100%; height: 100%; font-family: "object-fit: cover;"; object-fit: cover; -o-object-fit: cover; object-position: 50% 50%; -o-object-position: 50% 50%; }

.play-btn-main {width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; position: absolute; }
.play-btn-main .play-btn{width: 80px; height: 80px; z-index: 1;}
.play-btn-bg{width: 100%; height: 100%; transition: all 0.3s ease-in-out;}
.play-btn-bg img{margin-left: 3px; transform: scale(1); transition: all 0.3s ease-in-out;}
.play-btn-bg:hover img{transform: scale(1.125);}
.play-btn-bg::before{width: 100%; height: 100%; top: 0; left: 0; transition: opacity 0.3s linear; content: ""; background: var(--copperplate-color); border-radius: 300px; opacity: 0; position: absolute; z-index: -2;}
.play-btn-bg::after{width: 60px; height: 60px; top: 50%; left: 50%; transform: translate(-50%, -50%); content: ""; background: var(--copperplate-color); border-radius: 300px; opacity: 1; position: absolute; z-index: -1;}
.play-btn-bg:hover::before{opacity: 0.5;}

/*-- media css starts here --*/
@media only screen and (min-width: 1300px){
    .container{max-width: 1200px; margin-inline: auto;}
    .container.md{max-width: 952px;}
}
@media only screen and (min-width: 1440px){
    .container.lg{max-width: 1458px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .container{max-width: 100%; padding: 0 32px;}
}