
.short-headline-section{background-color: #f8f4f2; overflow: hidden; }
.short-headline-wrap{padding: 99px 0 143px; }
.short-headline-main{position: relative; z-index: 1;}
.short-headline-title{background: var(--white); padding: 56px 45px 60px 52px; }
.short-headline-title .optional-text{line-height: 0.9; margin-bottom: 12px; }
.short-headline-title h2{margin-bottom: 38px; font-size: 24px; line-height: 1.33;}
.short_intro_head{margin-bottom: 124px;}
.short-headline-logo .optional-text{margin-bottom: 30px; }
.short-logo-list img{width: 132px; opacity: 1; }

.continued-middle-section .short_intro_desc{padding-top: 84px;}
.short_intro_desc{ padding-bottom: 64px; position: relative; }
.short_intro_desc::before { width: 1000%; height: calc(100% + 62px); left: -500%; top: -62px; content: ""; display: block; background: #f0eae7; position: absolute; z-index: -1; }
.short_intro_desc.full-width { width: 100vw; left: calc(245px - 50vw); margin-left: 50%; }
body.page-template-careers-group .short_intro_head{margin-bottom: 0;}


/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    ul.divide-by-two, ul.ul-count-2{ -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; gap: 80px;}
    ul.ul-count-2.single-column{-moz-column-count: 1; -webkit-column-count: 1; column-count: 1; gap: 0;}
}
@media only screen and (min-width: 1024px){
    .short-headline-heading{width: 387px; margin-right: 101px; }
    .short-headline-title .button{width: 100%;}
    .short-headline-content{width: calc(100% - 488px); margin-top: -9px;}
    .insights-default-page .short-headline-content{width: 100%; margin-top: 0;}
    body.page-id-3416 .short_intro_desc::before{height: calc(100% + 140px);}
    body.page-template-dei .short-headline-wrap{padding-bottom: 113px;}
}
@media only screen and (max-width: 1023px) and (min-width:768px){
    .short-headline-wrap{padding: 40px 0; }
    .short-headline-title{padding: 42px 32px 42px 31px; margin-bottom: 30px; }
    .short-headline-title h2{margin-bottom: 28px;}
    .short_intro_desc ul.divide-by-two{ gap: 40px;}
}
@media only screen and (max-width: 767px) and (min-width:200px){
    .short-headline-wrap{padding: 30px 0; }
    .short-headline-main{display: block;}
    .short-headline-main.hide-mobile{display: none;}
    .short-headline-title{padding: 42px 32px 42px 31px; margin-bottom: 30px; }
    .short-headline-title h2{margin-bottom: 28px;}
    .short-headline-title .button{width: 100%;}
    .short-headline-content h2{font-size: 30px; margin-bottom: 21px;}
    .short-headline-content h3{font-size: 26px; }
    .short-headline-logo{margin-bottom: 50px;}
    .short-headline-logo .optional-text{margin-bottom: 15px; font-size: 16px; line-height: 1.13;}
    .short-headline-content::before{height: calc(100% - 378px);}
    .short_intro_head{margin-bottom: 40px;}
    .short_intro_desc{padding: 40px 0 40px;}
    .short_intro_desc::before{top: 0; height: 100%;}
    .sidebar_mob_cta{background-color: #F0EAE7; padding-bottom: 15px;}
}