
.subscribe-wrap{padding: 60px 0 60px }
.subscribe-main{padding: 82px 0 90px; }
.subscribe-icon{width: 106px; height: 276px; top: 27px; left: 50%; transform: translateX(-50%); background-repeat: no-repeat; background-size: cover;  z-index: -1; opacity: 0.11; position: absolute;}
.subscribe-main h2{margin-bottom: 6px; }


  