
.subscribe-wrap{padding: 60px 0 60px }
.subscribe-main{padding: 83px 0 91px; }
.subscribe-icon{width: 106px; height: 276px; top: 50%; left: 50%; transform: translate(-50%, -50%); background-repeat: no-repeat; background-size: cover;  z-index: -1; opacity: 0.11; position: absolute;}
.subscribe-main h2{margin-bottom: 6px; }


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
	.subscribe-wrap{max-width: 645px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){

}
@media only screen and (max-width: 767px) and (min-width: 200px){
	.subscribe-wrap{max-width: 230px; padding: 0 0 10px;}
	.subscribe-main{padding: 108px 0 91px;}
	.subscribe-main h2{font-size: 28px; line-height: 38px;}
}