
.sub-topic-section{background-color: #f0eae7; z-index: 1;}
.sub-topic-wrap{padding: 115px 0 155px; }
.sub-topic-heading{margin-bottom: 114px; }
.sub-topic-heading h3{margin-bottom: 24px; }
.sub-topic-thumb img{max-width: 325px; }
.sub-topic-heading .small{margin-bottom: 34px; }
.sub-topic-section .accordion-header{padding: 26px 70px 26px 23px; line-height: 1.2; color: var(--black); border-bottom-color: rgba(0, 0, 0, 0.15);}
.sub-topic-section .accordion-active .accordion-header{color: var(--white); border-bottom-color: transparent;}
.sub-topic-thumb{z-index: 1; }
.sub-topic-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; border: solid 1px var(--copperplate-color); top: -29px; left: -29px; z-index: -1; }
.sub-topic-main{align-items: flex-start;}
.sub-topic-main.no_image{display: block;}
.sub-topic-main.no_image .sub-topic-content{width: 100%; margin: 0;}
.sub-topic-content .accordion-content p a{color: var(--white); opacity: 0.75;}
.sub-topic-content .accordion-content p a:hover{color: var(--white); opacity: 1;}
.sub-topic-main.topic-full{width: 1140px; margin: 0 auto; flex-direction: column-reverse;}
.topic-full .sub-topic-image{width: 100%; margin-bottom: 26px;}
.topic-full .sub-topic-content{width: 100%; padding: 0 10px;}
.topic-full .sub-topic-thumb img{width: 100%; max-width: 100%;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .sub-topic-heading{max-width: 710px; }
    .sub-topic-main{width: 1066px; margin: 0 auto; }
    .sub-topic-content{width: 590px; margin: 12px 151px 0 0;}
    .sub-topic-image{width: calc(100% - 741px); }
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .sub-topic-main{width: 100%;}
    .sub-topic-content{width: 540px; margin-right: 80px; }
    .sub-topic-image{width: calc(100% - 620px); }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .sub-topic-wrap{padding: 80px 0; }
    .sub-topic-heading{margin-bottom: 50px; }
    .sub-topic-content{width: 100%; margin-bottom: 70px; }
    .sub-topic-image{margin: 0 auto; }
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .sub-topic-wrap{padding: 91px 0 55px; }
    .sub-topic-heading{margin-bottom: 30px; }
    .sub-topic-heading .small{margin-bottom: 16px; }
    .sub-topic-thumb::before{content: ""; position: absolute; width: 100%; height: 100%;}
    .sub-topic-thumb img{max-width: 288px; }
    .sub-topic-content{margin-bottom: 83px; width: 100%;}
    .sub-topic-image{ padding-left: 29px;}
    .sub-topic-heading h3{font-size: 28px; line-height: 38px;}
    .sub-topic-main.topic-full{width: 100%; display: block;}
    .sub-topic-section .accordion-header{padding: 26px 70px 26px 10px;}
}
