
.testimonial-section{background-color: #f8f4f2; }
.testimonial-wrap{padding: 88px 0; }
.testimonial-list{background-color: var(--white); }
.testimonial-content{font-size: 20px; font-style: italic; line-height: 1.7; opacity: 0.9; padding: 88px 102px;}
.testimonial-name{padding-top: 10px; font-size: 16px; line-height: 1.75; font-style: normal;}
span.testimonial_author{color: rgba(168, 107, 73, 0.9); font-size: 18px; line-height: 1; font-family: 'Copperplate', serif; font-style: normal; margin-bottom: 2px;}

.testimonial-list.no_image{display: block;}
.testimonial-list.no_image .testimonial-content{width: 100%;}
.no_testi_slide.slick-slider{padding-bottom: 60px;}
.no_testi_slide.slick-slider ul.slick-dots{display: none;}

/*-- media css starts here --*/
@media only screen and (max-width: 1299px) and (min-width:1024px){
    .testimonial-image{width: 440px; }
    .testimonial-content{width: calc(100% - 440px); padding: 51px 55px;}
}
@media only screen and (min-width: 1024px){
    .testimonial-image{width: 509px; }
    .testimonial-content{width: calc(100% - 509px); }
    .testimonial-sider ul.slick-dots{margin: 68px 0 0; padding: 0; width: auto; left: auto; right: auto; top: auto; display: flex; justify-content: center; flex-wrap: wrap; position: relative;}
    .testimonial-sider .slick-arrow{top:40% !important;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .testimonial-sider .slick-list.draggable { overflow: inherit; }
    .testimonial-side{max-width: 600px; margin: 0 45px; }
    .testimonial-sider ul.slick-dots{margin: 44px 0 0; padding: 0; display: flex; flex-wrap: wrap; justify-content: center; width: 100%; }
}
@media only screen and (max-width: 767px) and (min-width:200px){
    .testimonial-wrap{padding: 30px 0; }
    .testimonial-content{font-size: 16px; line-height: 1.75; padding: 29px 33px 40px 31px; }
    .testimonial-sider ul.slick-dots{margin-top: 30px; }
}