
/* general default section */
.general-default-section{background-color: #f8f4f2; z-index: 1; overflow: hidden;}
.default-page .download-print-main{padding: 26px 0 30px; }
.default-page .video-sec{margin: 56px 0 61px; }
.default-page .micro-cta-section{background-color: transparent; }
.default-page .micro-cta-wrap{padding: 24px 0 54px; }

/* Sub topic section */
.default-page .sub-topic-section{background-color: #f8f4f2; }
.default-page .sub-topic-wrap{padding: 106px 0 107px; }
.default-page .sub-topic-heading h2{margin-bottom: 23px; }

/* cta panel section */
.default-page .cta-panel-section{background-color: #f0eae7; margin-top: 0; padding: 109px 0 112px; }

/* partner organization section */
.partners-default-section{background-color: #f8f4f2; }
.partners-default-main{padding: 136px 0 137px; }
.partners-default-heading{width: 691px; margin-bottom: 44px;}
.partners-default-heading h2{margin-bottom: 23px; }
.partners-default-list{border: solid 1px rgba(174, 174, 174, 0.5); min-height: 183px; align-items: center; display: flex; flex-wrap: wrap;}
.partners-default-thumb img{max-width: 155px; margin: 0 auto; display: block; opacity: 0.6; filter: saturate(0);}
.partners-default-list:hover .partners-default-thumb img{opacity: 1; filter: saturate(1);}

/* Events slider section */
.default-page .events-slider-wrap{padding: 140px 0 136px; }

/* custom cta section */
.custom-cta-section{background-color: #f0eae7; }

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .partners-default-lists{gap: 22px; }
    .partners-default-list{flex: 0 0 calc(25% - 17px);}
    .general-default-wrap h2:not(:first-child){padding-top: 40px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .partners-default-lists{gap: 20px; }
    .partners-default-list{flex: 0 0 calc(50% - 10px);}
    .default-page .events-slider-wrap{padding: 80px 0; }
    .general-default-wrap h2:not(:first-child){padding-top: 40px;}
}
@media only screen and (max-width:767px) and (min-width:200px){
    .default-page .default-banner-main{padding: 218px 0 140px;}
    .default-page .default-banner-main p{margin-bottom: 24px;}
    .default-page .download-print-main{padding: 11px 0 8px; justify-content: center; margin-bottom: 23px;}
    .default-page .download-print{justify-content: center; margin-bottom: 0;}

    .general-default-wrap{padding: 0 0 10px; }
    .general-default-wrap h2{font-size: 30px;}
    .general-default-wrap h3{font-size: 26px; }
    .default-page .video-sec{margin: 35px 0 30px; }
    .default-page .micro-cta-wrap{padding: 10px 0 32px; }

    .default-page .sub-topic-wrap{padding: 50px 0 56px;}
    .default-page .sub-topic-heading h3{margin-bottom: 15px;}
    .default-page .sub-topic-heading{margin-bottom: 40px;}
    .default-page .sub-topic-section .accordion-header{padding: 16px 26px 19px 16px;}
    .default-page .cta-panel-section{padding: 56px 0;}

    .slick-slider .partners-row.slick-slide{width: 100%; display: flex; flex-wrap: wrap;}
    .partners-default-main{padding: 55px 0 53px; }
    .partners-default-lists{display: block; }
    .partners-default-heading{width: 100%; margin-bottom: 38px;}
    .partners-default-heading h2{font-size: 30px; margin-bottom: 20px; }
    .partners-row{gap: 8px;}
    .partners-default-list{flex: 0 0 calc(50% - 10px); min-height: 103px;}
    .partners-default-thumb img{max-width: 108px;}
    figure.partners-default-thumb{height: auto;}
    .partners-default-lists ul.slick-dots{margin-top: 21px; }

    .default-page .events-slider-wrap{padding: 56px 0 64px; }
    .default-page .events-slide-text h4{margin-bottom: 0; }
    .default-page .events-slider-btn{margin-top: -10px; }
    .default-page .custom-cta-wrap { padding: 56px 0; }   
}
