
.dei-point-section{background-color: #f0eae7; }
.dei-point-wrap{padding: 90px 0 0;}
.dei-point-title{margin-bottom: 42px; }
.dei-point-feature{margin-bottom: 99px; }
.feature-icon{margin-bottom: 23px; display: block; }
.dei-point-feature-list h4{margin-bottom: 14px; }
.dei-point-value{gap: 20px;}
.dei-point-value-list:first-child{flex-basis: 66%; }
.dei-point-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(to bottom, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.47) 55%, rgba(0, 0, 0, 0.8) 99%); }
.dei-point-thumb::after{content: "";position: absolute; width: calc(100% - 28px); height: calc(100% - 27px); top: 13px; left: 14px; border: 1px solid rgba(255, 255, 255, 0.22);}
.dei-point-thumb img:first-child{width: 100%;}

.dei-point-content{position: absolute; bottom: 0; padding: 59px 39px 29px; color: var(--white); width: 100%; transition: all .3s ease;}
.dei-icon{color: var(--copperplate-color); margin-right: 10px;}
.dei-point-content h3{color: var(--white); font-size: 30px; line-height: 1.13; margin-bottom: 25px;}
.dei-point-content p{display: none; transition: all .3s ease;}
ul.dei-point-droplist{display: none; margin: 24px 0 26px 18px; transition: all .3s ease;}
ul.dei-point-droplist > li::before{content: ""; position: absolute; top: 7px; left: -18px; width: 5px; height: 5px; background-color: #fff; border-radius: 50%; opacity: 0.5; background-image: none; -webkit-background-clip: unset;}
.dei-point-value-list:hover .dei-point-content{top: 0; background-color: var(--copperplate-color);}
.dei-point-value-list:hover .dei-icon{opacity: 0.65; color: var(--white);}
.dei-point-value-list:hover .dei-point-content p,
.dei-point-value-list:hover ul.dei-point-droplist{display: block;}

/* Affinity Section */
.affinity-section{background-color: #f8f4f2; }
.affinity-wrap{padding: 370px 0 166px; }
.affinity-title{margin-bottom: 45px; }
.affinity-thumb{margin-bottom: 12px; }
.affinity-thumb img{width: 285px; }
.affinity-desc{font-size: 15px; line-height: 1.6;}
.affinity-desc h5{font-size: 20px; line-height: 1.35; }




/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .dei-point-title{width: 590px;}
    .dei-point-feature{gap: 30px; }
    .dei-point-feature-list{flex-basis: 23%; }
    .dei-point-value-list{flex-basis: 32.22%; }
    .dei-point-thumb img{width: 387px; }

    .affinity-title{width: 590px;}
    .affinity-main{gap: 20px; }
    .affinity-list{flex-basis: 23.27%; }
    .affinity-desc{width: 250px; }
}