
/* Banner section */
.industries-page .default-banner-main{padding: 118px 0 62px;}
.industries-page .default-banner-main p{margin-bottom: 29px; }

.industries-page .number-count-main{padding: 28px 0 45px; border-top: 1px solid rgba(255, 255, 255, 0.15);}
.industries-page .number-count-bg{background-color: transparent;}
.industries-page .num-value{font-size: 46px; line-height: normal; color: var(--white); margin-bottom: 6px;}
.industries-page .number-count{color: var(--white-70);}

.industries-section{background-color: #f8f4f2; }
.industries-wrap{padding: 88px 0 112px; }
.industries-desc{font-size: 15px; line-height: 1.6; }
.industries-desc .angle-icon{top: 2.5px; transform: none;}
figure.industries-thumb{margin-bottom: 20px; height: auto;}
.industries-list h5{font-size: 20px; line-height: 1.35; margin-bottom: 7px;}
.industries-list h5 a{color: var(--black);}
.industries-list h5 a:hover{color: var(--copperplate-color);}
.industries-desc p{margin-bottom: 15px; }
.industries-desc .read-btn { font-size: 14px; font-weight: 500; line-height: 1; padding-right: 22px; color: #9c5f3d; }
.angle-icon{font-size: 12px; }

/* News Events Section */
.industries-page .events-slider-section{background-color: #f0eae7; }
.industries-page .events-slider-wrap{padding: 70px 0 368px; }

/* CTA panel section */
.industries-page .cta-panel-section{padding-bottom: 92px;}
.industries-page .cta-panel-section:before{content: ""; position: absolute; width: 100%; background-color: #f0eae7; height: 241px; top: 0; }


/*-- media css starts here --*/
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .industries-page .news-event-slider ul.slick-dots{top: -53px;}
}
@media only screen and (min-width: 1024px){
    .industries-page .number-count-main{max-width: 960px; margin: 0 auto;}
    .industries-main{gap: 112px 20px;}
    .industries-list{flex: 0 0 calc(33.3333% - 14px); justify-content: center;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .industries-main{gap: 32px;}
    .industries-list{flex: 0 0 calc(50% - 16px);}
    .industries-page .events-slider-wrap { padding: 70px 0 330px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .industries-page .default-banner-main{padding: 73px 0 39px;}
    .industries-page .default-banner-main p{margin-bottom: 24px;}
    .industries-page .number-count-main{padding: 35px 0 75px; gap: 27px 16px;}
    .industries-page .number-count-bg .container{padding: 0;}
    .industries-page .num-value{margin-bottom: 0;}
    .industries-page .events-slide-link{margin-top: 20px;}
    .industries-page .news-event-slider ul.slick-dots{margin: 15px 0 0;}
    .industries-wrap { padding: 88px 0 56px; }
    .industries-main{display: block;}
    .industries-list{margin-bottom: 50px;}
    .industries-more-btn{text-align: center;}
    .industries-page .events-slider-wrap{padding: 43px 0 23px;}
    .industries-page .cta-panel-section{margin-top: 0; padding-bottom: 56px;}
}