
/* Banner section  */
.insights-default-page .common-banner-desc .optional-text{color: var(--white-60);}
.insights-default-page .common-banner-desc p{max-width: 500px; }

/* Insights default section */
.insights-default-section{background-color: #f8f4f2; z-index: 1;}
.insights-default-section::before{position: absolute; content: ""; width: 100%; background-color: #f0eae7; height: 699px; z-index: -1; top: 992px;}
.insights-default-wrap{padding: 4px 0 90px; }
.author-name{display: inline-block; color: rgba(168, 107, 73, 0.8); font-size: 16px; font-weight: 600; line-height: 1.56; background-color: #f0eae7; padding: 14px 16px 13px 16px; margin-bottom: 28px;}
.author-name a{color: rgba(168, 107, 73, 0.8);}
.author-name a{color: var(--copperplate-color);}
.insights-default-page .video-sec{margin: 56px 0 61px; }
.full-width-image{margin: 144px 0 61px; }
.full-width-content{position: absolute; bottom: 50px; left: 16%; display: block; transform: translateX(-16%); }
.full-width-content h4{color: var(--white); margin-bottom: 14px;}
.full-width-content p{color: var(--white-90); max-width: 370px; line-height: 1.38;}

/* Another  short section*/
.another-short-section{background-color: #f8f4f2; }
.another-short-wrap{padding: 118px 0 0; }
.another-short-one{ margin-bottom: 52px; }
.another-short-inner{background-color: #f0eae7; padding: 73px 82px 82px 94px; }
.another-short-two{width: 978px; margin: 0 auto; }
.another-short-two-thumb{z-index: 1; }
.another-short-two-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; border: solid 1px var(--copperplate-color); top: -19px; left: 21px; z-index: -1; }

/* Micro cta section */
.insights-default-page .micro-cta-wrap{padding: 40px 0 107px; }

/* Another short section2 */
.another-short-wrap2{z-index: 1;}
.another-short-wrap2::before { content: ""; position: absolute; width: 100%; height: 728px; background-color: #f0eae7; top: 853px; z-index: -1;}


/* image caption  section*/
.image-caption-section{padding: 82px 0 88px; }
.image-caption-main{gap: 20px; }
.image-caption-list{width: calc(50% - 10px); }
.image-caption-text{position: absolute; bottom: 0; padding: 19px 44px 34px; text-align: center; background-color: rgba(168, 107, 73, 0.8); color: var(--white-90); width: 100%;}
.image-caption-list:hover .image-caption-text{top:50%; left: 50%; transform: translate(-50% , -50%); bottom: auto; padding: 52px 50px 57px; background-color: var(--copperplate-color); max-width: 554px;}

.image-caption-text h4{color: var(--white); }

.insight-default-sm-sec{max-width: 790px; margin: 0 auto; text-align: center;}

/* Medium headline section */
.medium-headline{padding: 192px 0 38px; }
.medium-headline-thumb{z-index: 1; }
.medium-headline-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; border: 1px solid var(--copperplate-color); top: -26px; left: -26px; z-index: -1; }
.medium-headline-inner h4{margin-bottom: 23px; }

/* default newsletters section */
.default-newsletter-main{padding: 50px 0 116px; }
.default-newsletter-inner{background-color: var(--copperplate-color); padding: 54px 102px 69px 101px; color: var(--white-90);}
.default-newsletter-inner span{margin-bottom: 16px; display: block; }

/* Medium headline reverse */
.medium-headline.reverse{flex-direction: row-reverse; padding: 48px 0 34px;}
.medium-headline.reverse .medium-headline-thumb::before{top: -20px; left: -20px;}

/* Default subscribe section */
.default-subscribe-main{padding: 39px 0 21px; }
.default-subscribe-inner{background: #f0eae7; padding: 46px 102px 46px 104px;}

/* insight button */
.insight-default-btn{gap: 20px; padding: 45px 0;}

/* events slider section */
.insights-default-page .events-slider-wrap{padding: 138px 0 100px; }


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .another-short-image{width: 496px; }
    .another-short-content{width: calc(100% - 496px); }
    .another-short-two-content{width: 509px; margin-right: 81px; }
    .another-short-two-image{width:calc(100% - 590px); }

    .medium-headline-image{width: 362px; margin-right: 122px; }
    .medium-headline-content{width: calc(100% - 484px); }

    .medium-headline.reverse .medium-headline-image{width: calc(100% - 731px); margin: 0; }
    .medium-headline.reverse .medium-headline-content{width: 610px; margin-right: 121px; }
}
@media only screen and (max-width:1299px) and (min-width: 1024px){
    .common-banner-text h1{font-size: 37px;}
    .another-short-image{width: 400px;}
    .another-short-content{width: calc(100% - 400px);}
    .another-short-inner{padding: 50px 40px;}
    .another-short-two-content{width: 450px; margin-right: 50px; }
    .another-short-two-image{width: calc(100% - 540px);}
    .image-caption-list:hover .image-caption-text{padding: 30px 25px;max-width: 450px;}
    .medium-headline-image{margin-right: 60px;}
    .medium-headline-content{width: calc(100% - 422px);}
    .medium-headline.reverse .medium-headline-image{width: calc(100% - 610px);}
    .medium-headline.reverse .medium-headline-content{width: 550px; margin-right: 60px;}
}
@media only screen and (max-width:767px) and (min-width: 200px){
    .insights-default-section::before{height: 523px;}
    .insights-default-wrap{padding: 4px 0 13px;}
    .insights-default-page .download-print-main{margin-bottom: 35px;}
    .insights-default-page .author-name{margin-bottom: 32px; }
    .insights-default-wrap h2{font-size: 30px; line-height: 1.27; }
    .insights-default-wrap h3{font-size: 26px; line-height: 1.15; }
    .insights-default-page .video-sec{margin: 48px 0 22px;}
    .full-width-image{margin: 46px 0 54px; }
    .full-width-content{bottom: 0; padding: 10px 24px 39px; width: 100%;}
    .another-short-wrap{padding: 37px 0 0; }
    .another-short-inner{padding: 24px 17px 28px 19px;}
    .another-short-inner h2{font-size: 30px; line-height: 1.27; }
    .another-short-two{width: 100%; flex-direction: column-reverse; gap: 34px;}
    .another-short-two-inner h3{font-size: 26px; line-height: 1.15; }
    .another-short-two-image{max-width: 307px; margin: 0 0 0 auto;}
    .another-short-two-thumb::before{left: -21px;}
    .image-caption-section{padding: 53px 0; }
    .image-caption-main{gap: 16px; padding: 0 24px; }
    .image-caption-list{width: 100%;}
    .image-caption-text{padding: 19px 6px 12px;}
    .image-caption-text h4{font-size: 20px; line-height: 1.35; margin-bottom: 5px;}
    .image-caption-text p{font-size: 14px; line-height: 1.79; color: var(--white-70);}
    .image-caption-list:hover .image-caption-text{padding: 24px 14px 22px; max-width: 286px; }
    .another-short-wrap2::before{height: 1057px; top: 1260px;}
    .another-short-wrap2 h3{font-size: 26px; line-height: 1.15; }
    .insights-default-page .micro-cta-wrap{padding: 30px 0 56px; }
    .insight-default-sm-sec{text-align: left; }
    .medium-headline{padding: 132px 0 30px; gap: 30px;}
    .medium-headline-image{max-width: 307px; margin: 0 0 0 auto; }
    .default-newsletter-main{padding: 21px 0 55px;}
    .default-newsletter-inner{padding: 41px 32px 28px 31px;}
    .medium-headline.reverse{flex-direction: column-reverse; padding: 31px 0 43px; gap: 56px; }
    .default-subscribe-main{padding: 34px 0; }
    .default-subscribe-inner{padding: 30px 32px; }
    .insights-default-page table{overflow-x: scroll; display: block; width: 100%; margin: 13px auto 44px;}
    .insights-default-page th{font-size: 15px; line-height: 1.87; min-width: 65px;}
    .insights-default-page td{font-size: 14px; line-height: 2; }
    .insights-default-page td:first-child{min-width: 124px; }
    .insights-default-page table tr td i.fa-check, table tr td i.fa-times{font-size: 20px;}
    .insight-default-btn{gap: 8px; padding: 0; }
    .insight-default-btn .button{min-width: 159px;}
    .insights-default-page .breakpoint-thumb{margin: 32px auto 0;}
    .insights-default-page .events-slider-wrap{padding: 32px 0 64px; }


}
