/* Insight banner */
.insight-banner-section{background-color: #f8f4f2;}
.insight-banner-thumb::after{ content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.74); }
.insight-banner-thumb::before{content: ""; position: absolute; border: 1px solid rgba(255, 255, 255, 0.22); width: calc(100% - 36px); height: calc(100% - 36px); top: 16px; left: 15px; }
.insight-banner-list{gap: 21px; height: 100%;}
.insight-banner-desc{position: absolute; bottom: 0; padding: 77px 83px; }
.insight-banner-desc .optional-text{font-size: 18px; line-height: 1; color: var(--white-90); margin-bottom: 19px;}
.insight-banner-desc h2{color: var(--white); margin-bottom: 26px;}
.insight-banner-desc h2 a{color: var(--white);}
.insight-banner-desc h2 a:hover{color: var(--copperplate-color);}

.insight-item-desc{display: flex; flex-direction: column; justify-content: flex-end; position: absolute; top: 0; padding: 74px 74px 74px 62px; width: 100%; height: 100%; max-width: 520px;}
.insight-item-thumb::before{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.74); }
.insight-banner-item:hover .insight-item-thumb::before{background-color: rgba(156, 95, 61, 0.85); }
.insight-banner-item:hover hr{display: none;}
.insight-banner-item:hover .insight-item-arrow{display: block;}
.insight-banner-item:hover .optional-text{color: var(--white);}
.insight-item-desc .optional-text{font-size: 18px; line-height: 1; margin-bottom: 17px;}
.insight-item-desc h4{margin-bottom: 11px; }
.insight-item-desc h4 a{color: var(--white); }
.insight-item-desc h4 a:hover{color: var(--white); }
.insight-item-desc hr{background-color: #a86b49; margin: 26px 0 0;}
.insight-item-arrow{ font-size: 33px; line-height: 1.5; color: var(--white); display: none;}
.insight-item-arrow:hover{color: var(--white);}

.insight-page-section{background-color: #f8f4f2; z-index: 1;}
.insight-page-section::before{content: ""; position: absolute; width: 100%; height: 1435px; background-color: #f0eae7; bottom: 0; z-index: -1;}
.insight-page-wrap{padding: 82px 0 124px; }
.insight-page-heading{margin-bottom: 54px; }
.insight-page-title h2{margin-bottom: 0; }

.insight-dropdown select{background-color: var(--white); border-radius: 0; padding: 11px 15px; font-size: 16px; line-height: 1.75; border: solid 1px #cdb3a5; }
.insight-search input{border-radius: 0; background-color: var(--white); font-size: 16px; font-weight: normal; line-height: 1.75; padding: 10px 15px; border: solid 1px rgba(174, 174, 174, 0.5); width: 100%; margin-bottom: 0;}
.insight-search input[type="submit"]{opacity: 0; padding: 0; right: 0; top: 0; position: absolute; }
.insight-search-btn{right: 21px; top: 50%; width: 16px; height: 16px; transform: translateY(-50%); position: absolute;}

.insight-page-main{margin-bottom: 50px;}
.insight-page-image{margin-bottom: 20px; }
.insight-page-category{position: absolute; top: 16px; }
.insight-page-category a{font-size: 11px; line-height: 1.64; letter-spacing: 0.46px; font-weight: bold; color: var(--white); background-color: var(--copperplate-color); text-transform: uppercase; padding: 10px 12px 9px 11px; margin: 0 0 10px 10px; }
.insight-page-category a:hover{background-color: var(--text-color); }
.insight-page-category a:nth-child(2n+1){margin-left: 0; }
.insight-page-category a:nth-child(3n+1){margin-left: 0; }
.insight-page-desc .optional-text{font-size: 15px; line-height: 1.2; color: #9c5f3d; margin-bottom: 7px; }
.insight-page-desc h5{font-size: 20px; line-height: 1.35; }
.insight-page-desc h5 > a{color: var(--black);}
.insight-page-desc h5 > a:hover{color: var(--copperplate-color);}

.insight-page-list:nth-child(7n){flex-basis: 100%; margin: 57px 0; z-index: 1;}
.insight-page-list:nth-child(7n) .insight-page-thumb img{max-width: 100%; }
.insight-page-list:nth-child(7n) .insight-page-image{margin-bottom: 0; height: 100%; position: absolute; top: 0; z-index: -1;}
.insight-page-list:nth-child(7n) .insight-page-image::after{content: ""; position: absolute; width: calc(100% - 26px); height: calc(100% - 29px); border: solid 1px rgba(255, 255, 255, 0.22); z-index: 1; top: 15px; left: 12px;}
.insight-page-list:nth-child(7n) .insight-page-desc{padding: 100px 79px 120px; min-height: 590px; max-width: 100%; width: 100%; height: 100%; flex-direction: column; justify-content: flex-end;}
.insight-page-content{max-width: 440px; color: var(--white-90);}
.insight-page-content .optional-text{font-size: 18px; line-height: 1; margin-bottom: 12px; }
.insight-page-content h3{line-height: 1.25; margin-bottom: 20px;}
.insight-page-content h3 a{color: var(--white);}
.insight-page-content h3 a:hover{color: var(--copperplate-color);}
.insight-page-content p{margin-bottom: 35px; }
.insight-page-btn .button{padding: 13px 34px; }


/* CTA panel section */
.insights-page .cta-panel-section{margin-top: 0; padding: 112px 0 108px; }

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .insight-page-heading{gap: 19px;}
    .insight-page-title{flex: 0 0 calc(33.3333% - 13px);}
    .insight-page-filter{flex: 1; gap: 19px; justify-content: end;}
    .insight-dropdown{flex: 1;}
    .insight-search{flex: 1;}
    .insight-page-main{gap: 41px 19px;}
    .insight-page-list{flex: 0 0 calc(33.3333% - 13px); }
    .insight-page-desc{max-width: 340px;}
    .insight-banner-main{gap: 21px;}
    .insight-banner-lt{flex: 1;}
    .insight-banner-rt{flex: 1;}
}
@media only screen and (min-width: 1600px){
    .insight-banner-main{max-width: 1600px; margin: 0 auto;}
    .insight-banner-lt{flex: 0 0 966px;}
    .insight-banner-rt{flex: 0 0 calc(100% - 987px); }
}
@media only screen and (max-width: 1299px) and (min-width: 200px){
    .insight-banner-main{display: block;}
    .insight-banner-rt{display: none;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .insight-page-heading{display: block;}
    .insight-page-title{margin-bottom: 20px;}
    .insight-page-filter{gap: 19px; justify-content: end;}
    .insight-dropdown{flex: 1;}
    .insight-search{flex: 1;}
    .insight-page-main{gap: 20px;}
    .insight-page-list{flex: 0 0 calc(50% - 10px); }
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .insight-page-wrap { padding: 32px 0 56px; }
    .insight-page-heading{display: block;}
    .insight-page-title h2{font-size: 30px; line-height: 38px;}
    .insight-page-filter{display: block;}
    .insight-search{margin-top: 16px;}
    .insight-page-main{display: block;}
    .insight-page-list{margin-bottom: 26px;}
    .insight-page-list:nth-child(7n) .insight-page-desc{padding: 48px 34px; }

    .insight-banner-thumb::before{display: none;}
    .insight-banner-desc{text-align: center; padding: 77px 46px;}
    .insight-banner-desc h2{font-size: 30px; line-height: 1.27; margin-bottom: 24px; }
    .insight-page-title{margin-bottom: 20px; }

    .insight-page-content .optional-text{font-size: 16px; line-height: 1.13; margin-bottom: 9px; }
    .insight-page-content h3{line-height: 1.25; margin-bottom: 20px; font-size: 30px; line-height: 1.27; }
    .insight-page-content p{margin-bottom: 23px; }
}