

/* short subheadline section */
.office-page .short-headline-wrap{padding: 56px 0 134px; }

/* News & events */
.news-event-section{background-color: #f0eae7; }

/* Careers Opportunities */
.office-page .careers-opportunities-wrap{padding: 130px 0 105px; }

/* CTA section */
.office-page .cta-panel-section{ margin-top: 0; padding: 0 0 112px; }