
.orphan-landing-section{background-color: #f8f4f2; z-index: 1;}
.orphan-landing-section::before{content: ""; position: absolute; width: 100%; height: 1274px; background-color: #f0eae7; bottom: 0; z-index: -1; }
.orphan-landing-wrap{padding: 0 0 51px; }

.orphan-landing-page .download-print-main{padding: 31px 0 26px; }
.orphan-landing-page .download-print{flex-basis: 100%; justify-content: end; }

.orphan-landing-page .logo-slider-wrap { padding: 17px 0 94px; }

.orphan-landing-page .video-sec{margin: 56px 0 46px; }

.orphan-landing-inner{background-color: var(--white); padding: 50px 45px 45px 52px; }


/* FAQ section */
.orphan-landing-page .faq-wrap{padding: 0 0 246px; }
.orphan-landing-page .insight-featured-section{background-image: url("../images/insight-bg-two@2x.jpg");}

/* News & events section */
.orphan-landing-page .events-slider-section{background-color: #f8f4f2; }
.orphan-landing-page .events-slider-wrap { padding: 146px 0 371px; }

/* Custom CTA section */
.orphan-landing-page .custom-cta-wrap{padding: 0;}
.orphan-landing-page .custom-cta-main{position: absolute; top: -232px;}











.orphan-landing-page .cta-panel-section{ margin-top: 0; padding: 28px 0 109px; }

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .orphan-landing-content{width: 708px; margin-right: 104px; }
    .orphan-landing-form{width: calc(100% - 812px); }

}
