
/* Banner section */
.people-bio-page .position-location{margin-bottom: 27px; }

/* Our people section */
.bio-people-section{background-color: #f8f4f2; z-index: 1;}
.bio-people-section::before{content: ""; position: absolute; top: 639px; width: 100%; height: 1323px; background-color: #f0eae7; z-index: -1;}
.bio-people-wrap{padding: 26px 0 78px; }

.bio-people-list{background-color: var(--white); padding: 32px 43px 19px 52px; margin-bottom: 25px;}
.bio-people-list h4{margin-bottom: 30px; }
.bio-people-list ul{margin: 0; }
.bio-people-list ul > li::before{display: none;}
.bio-people-list ul > li{font-size: 20px; font-family: Lora; line-height: 1.15; margin-bottom: 23px;}
.bio-people-list ul > li a{color: rgba(0, 0, 0, 0.7); }
.bio-people-list ul > li a:hover{color: var(--copperplate-color);}

.bio-people-news-list{padding-bottom: 19px; border-bottom: solid 1px rgba(0, 0, 0, 0.1); margin-bottom: 20px; }
.bio-people-news-list:last-of-type{border-bottom: none; padding-bottom: 0; margin-bottom: 17px;}
.bio-people-news-list .optional-text{font-size: 15px; line-height: 1.2; margin-bottom: 4px; }
.bio-people-news-list h5{font-size: 20px; line-height: 1.35; margin-bottom: 0;}
.bio-people-news-list h5 a{color: rgba(0, 0, 0, 0.7); }
.bio-people-news-list h5 a:hover{color: var(--copperplate-color); }
.bio-people-btn{font-size: 16px; font-weight: 500; opacity: 0.9;}
span.bio-people-arrow{margin-left: 18px; }

.bio-people-expertise{background-color: var(--copperplate-color); padding: 49px 52px 50px 41px; color: var(--white); margin-bottom: 100px;}
.bio-people-expertise h3{color: var(--white); }
.bio-people-expertise i{max-width: 468px; display: block; color: var(--white-90); padding-left: 17px; border-left: 1px solid var(--white); margin-bottom: 58px;}

.bio-expertise-list{flex:0 0 50%; }
.bio-expertise-list h4{color: var(--white); margin-bottom: 14px; }
.bio-expertise-list ul{margin: 0 0 0 23px; }
.bio-expertise-list ul > li{font-size: 16px; line-height: 1.88; margin-bottom: 0; color: var(--white-70);}
.bio-expertise-list ul > li::before{top:12px; background-color: var(--white-50);}

.honor-awards{margin-bottom: 65px; }

.icon-heading{margin-bottom: 32px; gap: 15px;}
.icon-heading span{flex: 0 0 29px; margin-top: 5px;}
.icon-heading h3{margin-bottom: 0; flex: 1;}

.bio-education-list h5{line-height: 1.2; font-size: 20px; color: var(--copperplate-color); }
.bio-education-list ul{margin: 28px 0 40px 53px; }
.bio-education-list ul > li{font-size: 16px; line-height: 1.31; }

.education-admissions{margin-bottom: 24px; }
.education-admissions-main{gap: 20px;}
.bio-education-list{flex: 0 0 calc(50% - 10px); }

.representative-matters{margin-bottom: 75px; }
.representative-matters h3{margin-bottom: 30px; }
.representative-matters .accordion{margin-bottom: 29px; }
.representative-matters .accordion-active .accordion-header{background-color: var(--copperplate-color); color: var(--white);}
.representative-matters .accordion-header{padding: 26px 27px 25px; background-color: var(--white); color: var(--copperplate-color); margin-bottom: 0;}
.representative-matters .accordion-header span.icon{right: 36px; top: 50%; transform: translateY(-50%); }
.representative-matters .accordion-active{background-color: var(--white); }
.representative-matters ul{margin: 0 0 0 53px;}
.representative-matters ul > li{font-size: 16px; line-height: 1.31; }
.representative-matters .accordion-content.open{background-color: var(--white); }

.people-bio-page .events-slider-wrap{padding: 0px 0 45px; border-bottom: 1px solid rgba(0, 0, 0 , 0.1); }
.people-bio-page .events-slider-heading{margin-bottom: 8px;}
.people-bio-page .events-slider-title .icon-heading { margin-bottom: 0; }
.people-bio-page .events-slide-text h4{font-family: Lora; font-size: 20px; line-height: 1.35; color: var(--black); }
.people-bio-page .events-slide-text h4{font-family: Lora; font-size: 20px; line-height: 1.35; color: var(--black); }
.people-bio-page .events-slide-text h4 a{color: var(--black); }
.people-bio-page .events-slide-text h4 a:hover{color: var(--copperplate-color); }
.people-bio-page .events-slider-heading{width: 100%;}
.people-bio-page .events-slider-btn .button{min-width: inherit}
.events_bio_text{margin-bottom: 32px;}

.speaking-engagements{padding: 34px 0 20px; }
.speaking-engagements h5{font-size: 20px; line-height: 1.2; color: var(--copperplate-color); margin-bottom: 37px;}
.speaking-engagements-list{display: block; column-count: 2; column-gap: 0px;}
.speaking-engagements-list ul{margin-top: 0; }
.speaking-engagements-list ul li span{display: block; color: var(--copperplate-color); font-weight: 500; line-height: 1.31; }


.people-bio-page .custom-cta-wrap{padding: 145px 0 112px; }
.bio-people-expand-content{max-height: 308px; margin-bottom: 18px; overflow: hidden;}
.bio-people-expand-content.expert-expanded{max-height: fit-content;}
.bio-expand-btns{padding-bottom: 35px;}



/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .bio-people-aside { width: 385px; margin-right: 102px; margin-top: 8px;}
    .bio-people-content { width: calc(100% - 487px); }

    .people-bio-page .events-slider-title{flex-basis: 60%; margin-bottom: 25px;}
    .people-bio-page .events-slider-btn{flex-basis: 40%; margin-bottom: 25px;}
    .people-bio-page .events-slide-text h4 { max-width: 330px;}

    .people-bio-page .news-event-slider ul.slick-dots{max-width: 800px; width: 100%; top: -150px; padding-right: 205px;}
}
@media only screen and (max-width:1299px) and (min-width: 1024px){
    .bio-people-aside{width: 330px; margin-right: 40px;}
    .bio-people-content{width: calc(100% - 370px); }
    .people-bio-page .events-slider-title{flex: 0 0 70%;}
    .people-bio-page .events-slider-btn{flex: 0 0 40%;}
    .events-slider-heading{margin-bottom: 20px;}
    .events_bio_text{margin-bottom: 30px;}
    .bio-people-content .breakpoint-thumb{width: 100%;}
    .people-bio-page .news-event-slider ul.slick-dots{position: static; display: block; padding-top: 15px;}
}
@media only screen and (max-width:1023px) and (min-width: 768px){
    .bio-people-aside{width: 100%; }
    .bio-people-main{display: block;}

}
@media only screen and (max-width:767px) and (min-width: 200px){
    .bio-people-section::before{top: 914px; height: 1205px;}
    .bio-people-wrap{padding: 11px 0 0;}
    .people-bio-page .download-print-main{padding: 0 0 8px; margin-bottom: 42px;}
    .people-bio-page .download-print{margin-bottom: 0;}

    .bio-people-aside{width: 100%; margin-bottom: 30px;}
    .bio-people-list{padding: 9px 17px 11px; margin-bottom: 11px;}
    .bio-people-text{display: none;}
    .bio-people-list h4{margin-bottom: 0;}
    .bio-people-list:hover{cursor: pointer;}
    .bio-people-list h4::before{content: "\f054"; font-family: "Font Awesome 6 Pro"; color: var(--copperplate-color); position: absolute; right: 23px; font-size: 18px; top: 14px; }
    .bio-people-list h4.active::before{content: "\f078";}
    .bio-people-text{padding-top: 20px; }
    .bio-people-list ul > li{font-size: 18px; margin-bottom: 15px; }
    .bio-people-content{width: 100%;}
    .bio-people-content h2{font-size: 30px; }
    .people-bio-page .video-sec{margin: 23px 0 50px; }
    .video-sec-slider .slick-btn{width: 27px; height: 54px; font-size: 1.5rem;}
    .bio-people-expertise{background-color: transparent; padding: 0; margin-bottom: 0;}
    .bio-expertise-title{background-color: var(--copperplate-color); padding: 16px 30px 28px 31px; margin-bottom: 10px;}
    .bio-people-expertise i{margin-bottom: 0;}
    .bio-expertise-list{flex:0 0 100%; margin-bottom: 10px;}
    .bio-expertise-list h4{padding: 19px 21px 19px 30px; background-color: var(--white); margin-bottom: 0; color: var(--copperplate-color); font-size: 20px; line-height: 1.4;}
    .bio-expertise-desc{display: none; background-color: var(--copperplate-color); padding: 0 20px 13px 30px;}
    .bio-expertise-list:hover{cursor: pointer;}
    .bio-expertise-list h4.active{background-color: var(--copperplate-color); color: var(--white);}
    .bio-expertise-list h4.active::before{color: var(--white); content: "\f068";}
    .bio-expertise-list h4::before{content: "\2b"; font-family: "Font Awesome 6 Pro"; color: var(--copperplate-color); position: absolute; right: 23px; font-size: 20px; }
    .honor-awards{margin-bottom: 0;}
    .honor-awards .expert-expand-content{max-height: 450px;}
    .honor-awards.expert-expanded .expert-expand-content{max-height: fit-content; }
    .honor-awards .read-btn, .education-admissions .read-btn{opacity: 0.9;}
    .icon-heading h3{font-size: 26px; }
    .bio-education-list{flex: 0 0 100%; }
    .education-admissions{margin-bottom: 44px; }
    .education-admissions .expert-expand-content{max-height: 480px;}
    .education-admissions.expert-expanded .expert-expand-content{max-height: fit-content; }
    .education-admissions .expert-expand-content h5{-webkit-text-fill-color: var(--copperplate-color);}
    .representative-matters{margin-bottom: 0; }
    .representative-matters h3{margin-bottom: 26px; font-size: 26px; }
    .representative-matters .accordion{margin-bottom: 10px; }
    .representative-matters .accordion-header{padding: 18px 21px 21px 16px;}
    .representative-matters .accordion-content ul{margin-left: 32px; }
    .people-bio-page .news-event-slider ul.slick-dots{top: 0; padding-right: 0;}
    .speaking-engagements-list{column-count: 1;}
    .people-bio-page .custom-cta-wrap{padding: 56px 0; }
}
