

.practice-default-section{background-color: #f8f4f2; z-index: 1;}
.practice-default-wrap{padding: 48px 0 0;}
.practice-default-main{position: relative; z-index: 1;}
.practice-default-content{position: relative;}
.practice-default-inner{background-color: var(--white); padding: 50px 45px 45px 52px; margin-bottom: 30px;}
.practice-default-inner h3{font-size: 24px; line-height: 1.33; margin-bottom: 16px;}

.practice-sidebar-title .optional-text { line-height: .9; margin-bottom: 12px; }
.practice-sidebar-title h2{margin-bottom: 28px; font-size: 24px; line-height: 1.33;}

/* Sub topic section */
.practices-default-page .sub-topic-wrap{padding: 75px 0 128px;}
.practices-default-page .sub-topic-heading{margin-bottom: 92px; }
.practices-default-page .sub-topic-heading h2{margin-bottom: 61px; }
.practices-default-page .sub-topic-heading h2::after{content: ""; position: absolute; width: 50px; height: 4px; background-color: #9c5f3d; left: 50%; transform: translateX(-50%); bottom: -27px; }
.practices-default-page .accordion-header.accordion-active{color: var(--white); }


/* Business commerical section */
.business-commercial-section{background-color: #f8f4f2; z-index: 1;}
.business-commercial-section::before{position: absolute; content: ""; width: 100%; height: 320px; background-color: #f0eae7; z-index: -1;}
.business-commercial-wrap{padding: 50px 0 123px;}

/* Buffalo team section */
.practices-default-page .buffalo-team-wrap{padding: 125px 0 85px;}
.practices-default-page .buffalo-team-heading{margin-bottom: 67px;}
.practices-default-page .buffalo-team-heading h2{margin-bottom: 25px;}
.practices-default-page .buffalo-team-btn{margin-top: 27px;}

/* News event section */
.practices-default-page .events-slider-section{background-color: #f8f4f2; }
.practices-default-page .events-slider-wrap{padding-top: 100px;}

#articles .events-slider-btn{top: 0;}
.practice-default-inner .short-headline-logo{margin-top: 40px; margin-bottom: 0;}
.practice-default-inner .short-logo-lists{gap: 20px; display: flex;}
.practice-default-inner .short-logo-list{ flex: 0 0 calc(50% - 10px); }
.practice-default-inner .short-logo-list img{width: 100px; object-fit: contain;}

.short-intro-logos .short-headline-logo{background-color: var(--white); padding: 56px 45px 60px 52px;}
.short-intro-logos .short-logo-lists{gap: 20px; display: flex;}
.short-intro-logos .short-logo-list{ flex: 0 0 calc(50% - 10px); }
.short-intro-logos .short-logo-list img{width: 100px; object-fit: contain;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .practices-default-page .common-banner-text h1{margin-bottom: 29px;}
    .practices-default-page .common-banner-desc p{margin-bottom: 41px;}
    .practice-default-content{width: 708px; margin-right: 104px;}
    .practice-default-form{width: calc(100% - 812px); position: relative; z-index: 1;}
    .practice-default-content h2:not(:first-child){padding-top: 40px;}
    .practice-default-content > p:nth-child(2){margin-bottom: 179px;}
    .practices-default-page .events-slider-heading{min-height: 0;}
}
@media only screen and (max-width:1299px) and (min-width: 1024px){
    .practice-default-content{width: 640px; margin-right: 40px;}
    .practice-default-form{width: calc(100% - 680px);}
    .practice-default-inner{padding: 50px 30px 45px;}
    .practices-default-page .buffalo-team-wrap{padding-left:45px;}
    .practices-default-page .events-slider-wrap{padding: 100px 0 50px;}
    .practices-default-page .faq-wrap{padding: 50px 0;}
}
@media only screen and (max-width:1023px) and (min-width: 768px){
    .practice-default-form{width: 100%;}
}
@media only screen and (max-width:767px) and (min-width: 200px){
    .practices-default-page .common-banner-text{padding: 33px 24px 37px;}
    .practices-default-page .common-banner-text h1{margin-bottom: 15px;}
    .common-banner-list{background-color: #f8f4f2; padding: 15px 0 12px;}
    .practice-default-wrap{padding: 0;}
    .practices-default-page .download-print-main{padding: 11px 0 9px;}
    .practices-default-page .video-sec{margin: 48px 0 38px;}
    .practice-default-inner{padding: 34px 32px 43px;}
    .practices-default-page .sub-topic-wrap{padding: 45px 0 26px;}
    .practices-default-page .sub-topic-heading{margin-bottom: 30px;}
    .business-commercial-wrap{padding: 50px 0 50px; }
    .practices-default-page .buffalo-team-wrap{padding: 55px 0 5px; }
    .practices-default-page .buffalo-team-heading{margin-bottom: 31px; }
    .practices-default-page .events-slider-wrap{padding: 50px 0 54px;}
    .practices-default-page .faq-wrap{padding: 60px 0 55px;}
    .practices-default-page .product-liability-main h4:last-of-type{margin-top: 30px;}
    .practices-default-page .buffalo-team-heading h2{margin-bottom: 18px;}
    /* .practice-default-form{margin-top: 50px;} */
    .practice-default-form .practice-default-inner{margin-bottom: 0;}
    .practice-mobile-section{padding: 30px 0 30px; background-color: #f8f4f2;}
    .practice-mobile-section.no_space{padding-top: 0;}
    .short-intro-logos .short-headline-logo{padding: 30px 20px 40px;}
}