
.practice-default-section{background-color: #f8f4f2; z-index: 1;}
.practice-default-section::before{content: ""; position: absolute; width: 100%; height: 730px; background-color: #f0eae7; top: 391px; z-index: -1;}
.practice-default-wrap{padding: 48px 0 44px;}

.practice-default-inner{background-color: var(--white); padding: 50px 45px 45px 52px; }

/* Sub topic section */
.practices-default-page .sub-topic-wrap{padding: 75px 0 49px;}
.practices-default-page .sub-topic-heading{margin-bottom: 92px; }
.practices-default-page .sub-topic-heading h2{margin-bottom: 61px; }
.practices-default-page .sub-topic-heading h2::after{content: ""; position: absolute; width: 50px; height: 4px; background-color: #9c5f3d; left: 50%; transform: translateX(-50%); bottom: -27px; }

/* Product liability section */
/* .practices-default-page .product-liability-main{position: absolute; top: -270px; } */

/* Business commerical section */
.business-commercial-section{background-color: #f8f4f2; }
.business-commercial-section::before{position: absolute; content: ""; width: 100%; height: 320px; background-color: #f0eae7;}
.business-commercial-wrap{padding: 50px 0 123px;}

/* Buffalo team section */
.practices-default-page .buffalo-team-wrap { padding: 125px 0 85px; }

/* News event section */
.practices-default-page .events-slider-section{background-color: #f8f4f2; }
.practices-default-page .events-slider-wrap{padding-top: 100px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .practice-default-content { width: 708px; margin-right: 104px; }
    .practice-default-form { width: calc(100% - 812px); }
}
@media only screen and (max-width:1299px) and (min-width: 1024px){
    .practice-default-content{width: 640px; margin-right: 40px;}
    .practice-default-form{width: calc(100% - 680px);}
    .practice-default-inner{padding: 50px 30px 45px;}
    .practices-default-page .buffalo-team-wrap{padding-left:45px;}
    .practices-default-page .events-slider-wrap{padding: 100px 0 50px;}
    .practices-default-page .faq-wrap{padding: 50px 0;}
}
@media only screen and (max-width:1023px) and (min-width: 768px){
    .practice-default-form{width: 100%;}
}
@media only screen and (max-width:767px) and (min-width: 200px){
    .practice-default-section::before{height: 667px; top: 427px;}
    .common-banner-list{background-color: #f8f4f2; padding: 15px 0 12px;}
    .practice-default-wrap{padding: 0 0 55px;}
    .practices-default-page .download-print-main{padding: 11px 0 9px;}
    .practices-default-page .download-print{margin-bottom: 0;}
    .practices-default-page .video-sec{margin: 48px 0 38px;}
    .practice-default-inner{padding: 34px 32px 43px;}
    .practices-default-page .sub-topic-wrap{padding: 45px 0 26px;}
    .practices-default-page .sub-topic-heading{margin-bottom: 30px;}
    .business-commercial-wrap{padding: 30px 0 50px; }
    .practices-default-page .buffalo-team-wrap{padding: 55px 0 5px; }
    .practices-default-page .buffalo-team-heading{margin-bottom: 31px; }
    .practices-default-page .events-slider-wrap{padding: 0 0 54px;}
    .practices-default-page .faq-wrap{padding: 10px 0 55px;}
}
