
.practice-default-section{background-color: #f8f4f2; z-index: 1;}
.practice-default-section::before{content: ""; position: absolute; width: 100%; height: 730px; background-color: #f0eae7; top: 391px; z-index: -1;}
.practice-default-wrap{padding: 48px 0 44px;}

.practice-default-inner{background-color: var(--white); padding: 50px 45px 45px 52px; }

/* Sub topic section */
.practices-default-page .sub-topic-wrap{padding: 75px 0 383px; }
.practices-default-page .sub-topic-heading{margin-bottom: 92px; }
.practices-default-page .sub-topic-heading h2{margin-bottom: 61px; }
.practices-default-page .sub-topic-heading h2::after{content: ""; position: absolute; width: 50px; height: 4px; background-color: #9c5f3d; left: 50%; transform: translateX(-50%); bottom: -27px; }

/* Product liability section */
.practices-default-page .product-liability-main{position: absolute; top: -270px; }

/* Business commerical section */
.business-commercial-section{background-color: #f8f4f2; }
.business-commercial-wrap{padding: 509px 0 123px;}

/* Insight featured section */
.practices-default-page .insight-featured-section{background-image: url("./images/insight-bg-three@2x.jpg");}

/* Buffalo team section */
.practices-default-page .buffalo-team-wrap { padding: 125px 0 85px; }

/* News event section */
.practices-default-page .events-slider-section{background-color: #f8f4f2; }
.practices-default-page .events-slider-wrap{padding-top: 100px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .practice-default-content { width: 708px; margin-right: 104px; }
    .practice-default-form { width: calc(100% - 812px); }

}
