

.subscribe-page-section{background-color: #f8f4f2; }
.subscribe-page-wrap{padding: 124px 0 81px; }
.subscribe-page-text{z-index: 1;}
.subscribe-page-text::before{content: ""; position: absolute; top: -26px; left: -103px; background-image: url('images/gray-banner-symbol.svg'); z-index: -1; width: 171px; height: 442px; }
.subscribe-page-form{background-color: var(--white); padding:40px 60px 58px 64px;}

.communication-list{padding-bottom: 26px; border-bottom: 1px solid #9c5f3d; margin-bottom: 35px; }
.communication-list span{margin-bottom: 11px;}
.communication-list .checkbox{width: 17px; height: 17px; background: transparent; border: 1px solid #9c5f3d; padding: 0; margin: 0 14px 0 0; }
.communication-list label{font-size: 14px; line-height: 1.5; color: rgba(0, 0, 0, 0.7); }
.frm_fields_container hr{margin: 37px 0 33px; }


/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    .subscribe-page-mobile{display: none;}
    .subscribe-page-text h1{font-size: 40px; line-height: 50px; margin-bottom: 26px; max-width: 450px;}
    .subscribe-page-text h3{padding-top: 30px;}
}
@media only screen and (min-width: 1024px){
    .subscribe-page-text{width: 488px; margin-right: 122px;}
    .subscribe-page-form{width: calc(100% - 610px);}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .subscribe-page-main{display: block;}
    .subscribe-page-text{margin-bottom: 60px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .subscribe-page-wrap { padding: 103px 0 81px;}
    .subscribe-page-desktop{display: none;}
    .subscribe-page-mobile{display: block; padding: 40px 30px 58px;}
    .subscribe-page-form{padding: 30px 33px 32px 31px; }
    .subscribe-page-text h1{font-size: 29px; line-height: 38px; margin-bottom: 26px;}
	.subscribe-page-text h3{padding-top: 30px; font-size: 26px; line-height: 30px;}
}